.overflow-hidden {
    overflow: hidden;
}

.dashboard-stat .add-show-bottom-link {
    padding: 13px 10px 13px 10px;
}

.main-page-blocks, .shows-page-blocks {
    margin-left: 7.5%;
}

.no-padding {
    padding: 0;
}

.add-show-label, .add-season-label, .add-episode-label, .add-post-label, .add-person-label, .add-faq-label, .add-page-label {
    font-size: 18px;
    margin-top: 20px;
}

.seasons-show-title {
    margin-bottom: 80px;
}

.seasons-episode-title {
    font-size: 16px;
}

.show-post, .season-post, .epispde-post {
    margin: 40px 0;
}

.show-block-text {
    color: white;
}

.trailers {
    margin-bottom: 30px;
}

.trailer {
    margin-bottom: 10px;
}

.dashboard-stat .more {
    color: white;
    background-color: black;
    font-size: 12px;
}

.slider-row {
    margin-top: 20px;
}

.remove-cover-img, .remove-slider-img, .remove-video-img, .remove-episode-video-img, .remove-person-img {
    cursor: pointer;
    color: red;
}

.show-description-save, .season-description-save, .episode-description-save, .post-description-save, .page-description-save {
    margin-top: 20px;
}

.faq-go-back, .faq-delete-btn-div, .page-go-back, .page-delete-btn-div {
    margin-top: 20px;
}

.edit-header {
    margin: 10px 0 20px;
    font-size: 18px;
}

.admin-page-header-fixed {
    background: #FFF;
}

.admin-page-header-fixed .admin-page-header {
    background-image: url('/img/header-bg.svg');
    background-color: #FFF;
}

.admin-page-header-fixed .page-sidebar-menu-admin .active a {
    background: #AE1E23 !important;
}

.admin-page-header-fixed .page-sidebar-menu-admin li a {
    background-color: #212121 !important;
}

.admin-page-header-fixed .page-sidebar-menu-admin li a:hover {
    background: #4F4D4D !important;
}

.admin-page-header-fixed .page-container {
    margin-top: 80px;
    padding-top: 0;
}

.admin-page-header-fixed .admin-navbar {
    height: 80px;
}

.admin-page-header-fixed .page-container .collapse {
    width: 235px !important;
}

.admin-page-header-fixed .admin-navbar .page-logo {
    margin-top: 10px;
}

.admin-page-header-fixed .page-content-wrapper {
    background-color: #212121;
}

.btn-primary, .bootstrap-switch-primary {
    background-color: #CF3F45 !important;
}

.page-sidebar-menu-admin li:nth-child(n+2) .title {
    margin-left: 30px;
}

.seasons-number-change-btn {
    width: 100%;
    text-align: center;
    font-size: 30px;
}
