@font-face {
  font-family: 'FiraSans-Bold';
  src: url('../fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/FiraSans/FiraSans-Bold.otf')  format('opentype'),
	     url('../fonts/FiraSans/FiraSans-Bold.woff') format('woff'), url('../fonts/FiraSans/FiraSans-Bold.ttf')  format('truetype'), url('../fonts/FiraSans/FiraSans-Bold.svg#FiraSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Light';
  src: url('../fonts/FiraSans/FiraSans-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/FiraSans/FiraSans-Light.otf')  format('opentype'),
	     url('../fonts/FiraSans/FiraSans-Light.woff') format('woff'), url('../fonts/FiraSans/FiraSans-Light.ttf')  format('truetype'), url('../fonts/FiraSans/FiraSans-Light.svg#FiraSans-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Medium';
  src: url('../fonts/FiraSans/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/FiraSans/FiraSans-Medium.otf')  format('opentype'),
	     url('../fonts/FiraSans/FiraSans-Medium.woff') format('woff'), url('../fonts/FiraSans/FiraSans-Medium.ttf')  format('truetype'), url('../fonts/FiraSans/FiraSans-Medium.svg#FiraSans-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans-Regular';
  src: url('../fonts/FiraSans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/FiraSans/FiraSans-Regular.otf')  format('opentype'),
	     url('../fonts/FiraSans/FiraSans-Regular.woff') format('woff'), url('../fonts/FiraSans/FiraSans-Regular.ttf')  format('truetype'), url('../fonts/FiraSans/FiraSans-Regular.svg#FiraSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GDS2015Light';
  src: url('../fonts/GDS2015v1/GDS2015Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/GDS2015v1/GDS2015Light.woff') format('woff'), url('../fonts/GDS2015v1/GDS2015Light.ttf')  format('truetype'), url('../fonts/GDS2015v1/GDS2015Light.svg#GDS2015Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GDS2015Bold';
  src: url('../fonts/GDS2015v1/GDS2015Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GDS2015v1/GDS2015Bold.woff') format('woff'), url('../fonts/GDS2015v1/GDS2015Bold.ttf')  format('truetype'), url('../fonts/GDS2015v1/GDS2015Bold.svg#GDS2015Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
