

body:not(.mobile) {
    .slider {
	.slide {
	    .slide-buttons-container {
		.slide-buttons {
		    /* avoid sticky hover effect on mobile/tablets */
		    .slide-social-btn {
			&:hover {
			    @include icon-button("icons/social-white.svg", 64, 64);
			    background-color: $brand-primary;
			}
		    }
		    .slide-playlist-btn {
			&:hover {
			    @include icon-button("icons/add-white.svg", 64, 64);
			    background-color: $brand-primary;
			}
		    }
		    @media (max-width : 991px){
			.slide-social-btn {
			    &, &:hover, &:focus {
				width: 44px; height: 44px;
			    }
			}
			.slide-playlist-btn {
			    &, &:hover, &:focus {
				width: 44px; height: 44px;
			    }
			}
		    }
		    @media (max-width : 767px){
			.slide-social-btn {
			    &, &:hover, &:focus {
				width: 34px; height: 34px;
			    }
			}
			.slide-playlist-btn {
			    &, &:hover, &:focus {
				width: 34px; height: 34px;
			    }
			}
		    }
		}
	    }
	}
    }
    .fp-heading-big-items {
	/* uncomment to leave accordion functionality only on mobiles */
	/* in that case, also uncomment if(not mobile) return; first line of */
	/*|-> $(".fp-heading-big-items button").each(function(i, el){ in main.js */
	/* and also uncomment the if block after that each() block */
	@media (min-width: 768px){
	    button { cursor: text; }
	    img { display: none; }
	}
    }
}

@media (min-width : 768px){
    .header-main {
	&.fixed-header {
	    /* black background for header when scrolled */
	    /* background: #1a1a1a; */
	    border-bottom: 6px solid $brand-primary;
	    nav.nav-main {
		background-color: transparent; left: 150px; top: 25px; z-index: 103;
		ul.nav {
		    > li {
			&:first-child { display: none; }
			/* 2nd lvl submenu container */
			> ul {
			    padding-top: 9px;
			    &:before {
				content: ''; display: block; position: absolute; left: 0; top: 0;
				pointer-events: none; border-top: 9px solid #212121;
			    }
			    li {
				a {
				    width: 100% !important; /* border-bottom: 1px solid rgba(255,255,255,.2); */
				    &:hover,&:focus,&:active { background-color: $brand-primary; color: #fff; }
				}
			    }
			}
		    }
		    /* all level submenu containers */
		    ul {
			/* background-color: rgba(73,73,73,1); */
			background-color: rgba(33,33,33,1);/* was 36,36,36, same as #242424 */
		    }
		}
	    }
	}
	nav.nav-main {
	    ul.nav {
		> li {
		    /* moved to min-width:1025 to avoid tablets */
		    /* &:hover > ul { display: block; } */
		    /* the following style affects submenus on all levels */
		    ul {
			/* padding-left: 12px; padding-right: 12px; */
			background-color: rgba(51,51,51,.7);
		    }
		    /* second-level submenus */
		    > ul {
			position: absolute; left: -12px; top: 100%; width: auto;
			min-width: 100%; border-bottom: 6px solid $brand-primary;
			> li {
			    border-bottom: 1px solid rgba(255,255,255,0.2);
			    a {
				white-space: nowrap; display: inline-block; width: auto;
			    }
			}
		    }
		}
	    }
	}
    }
    .fp-heading-big-items {
	.toggle-fp-big-items {
	    cursor: text;
	    img { display: none; }
	}
    }
}
@media (min-width : 1024px){
}
@media (min-width : 1025px){
    /* on tablets (768-1024px both inclusive) there's hover on click, so it messes up javascript open/close code */
    .header-main {
	nav.nav-main {
	    ul.nav {
		> li {
		    &:hover > ul { display: block; }
		}
	    }
	}
    }
}
@media (min-width : 1200px) and (max-width: 1279px){
    .fp-big-items {
	.fp-big-item {
	    height: 261px;
	}
    }
}
@media (min-width : 1280px){
    .container { width: 1200px; padding-left: 0; padding-right: 0; }
    .header-main {
	nav.nav-main {
	    .navbar-collapse {
		padding: 0;
	    }
	}
    }
}
@media (min-width : 1680px){
    .slider {
	.slide {
	    .slide-play {
		width: 150px; height: 150px;
		left: calc(50% - 75px); top: calc(50% - 75px);
		@include icon-button('icons/play.svg', 150, 150);
		&:hover,&:focus {
		    @include icon-button('icons/play-red.svg', 150, 150);
		}
	    }
	}
    }
}
@media (min-width : 1920px){
    .slider {
	.slide {
	    .slide-play {
		width: 170px; height: 170px;
		left: calc(50% - 85px); top: calc(50% - 85px);
		@include icon-button('icons/play.svg', 170, 170);
		&:hover,&:focus {
		    @include icon-button('icons/play-red.svg', 170, 170);
		}
	    }
	}
    }
}



@media (max-width : 1279px){
    .slider-main, .slider-show {
	.slider-bullets-container {
	    /* display: none; */
	    .slider-bullets {
		right: 15px;
	    }
	}
	&.paused {
	    .slider-bullets-container {
		.slider-bullets {
		    bottom: 40px;
		}
	    }
	}
	.slide {
	    .slide-text-container {
		.slide-text {
		    bottom: 15px;
		    .slide-title {
			margin: 0; font-size: 36px; line-height: 36px;
		    }
		    .slide-desc {
			font-size: 16px; line-height: 16px;
		    }
		    .slide-watch-more {
			/* line-height: 24px; background-position: 114px 0px; */
			/* padding-left: 6px; padding-right: 22px; */
		    }
		}
	    }
	    .slide-play {
		&, &:hover, &:focus {
		    width: 96px; height: 96px;
		}
		left: calc(50% - 48px); top: calc(50% - 48px);
	    }
	}
    }
    .footer-main {
	.footer-social {
	    padding-right: 0;
	    position: relative; left: 0; top: 30px;
	}
    }
    .fp-heading-big-items {
	/* margin-top: 16px; */
    }
    .fp-heading-genre {
	/* margin-top: 16px; */
    }
    .post {
	.post-content {
	    .post-title {
		padding-top: 15px; margin-bottom: 8px; font-size: 30px;
	    }
	    .post-text {
		.post-text-inner {
		    p {
			font-size: 12px; line-height: 150%;
		    }
		}
	    }
	}
	&:not(.expanded){
	    .post-content {
		.post-text {
		    .post-text-inner {
			max-height: 163px;
		    }
		}
	    }
	}
    }
    .search-container {
	padding-top: 90px;
	.search-content {
	    padding-top: 20px;
	}
    }
    .contact-container {
      .contact-content {
        .contact-form-div {
          .g-recaptcha {
            transform:scale(0.82); -webkit-transform:scale(0.82);
          }
        }
      }
    }
}
@media (max-width : 1199px){/* bootstrap breakpoint */
    .fp-big-items {
	.fp-big-item {
	    height: 216px;
	}
    }
    .post {
	.post-content {
	    .post-image-inline {
		height: 433px;
		img { height: 433px; }
	    }
	    .post-meta {
		.post-meta-title {
		    width: 27%;
		}
	    }
	}
    }
    .contact-container {
	.contact-content {
      .contact-form-div {
        .g-recaptcha {
          transform:scale(0.71); -webkit-transform:scale(0.71);
        }
      }
	  padding-left: 50px;
	}
    }
}
@media (max-width : 1024px){/* all tablets and mobiles */
    .header-main {
	nav.nav-main {
	    ul.nav {
		> li {
		    &:last-child > ul { left: auto; right: 0; }
		    > a { margin-right: 20px; }
		}
	    }
	}
	.toolbox { z-index: 115; }
    }
    .slider-main, .slider-show {
	.slider-bullets-container {
	    .slider-bullets {
		bottom: 32px;
	    }
	}
	&.paused {
	    .slider-bullets-container {
		.slider-bullets {
		    bottom: 32px;
		}
	    }
	}
	.slide {
	    .slide-text-container {
		.slide-text {
		    .slide-title {
			font-size: 24px; line-height: 24px;
		    }
		    .slide-desc {
			font-size: 14px; line-height: 16px;
		    }
		    .slide-watch-more {
			/* display: none; */
			margin-bottom: 10px;
		    }
		}
	    }
	    .slide-play {
		&, &:hover, &:focus {
		    width: 64px; height: 64px;
		}
		left: calc(50% - 32px); top: calc(50% - 32px);
	    }
	    .slide-buttons-container {
		.slide-buttons {
		    right: 15px; bottom: 25px; /* 10px */
		    .slide-social-btn {
			width: 44px; height: 44px;
			.slide-social-btn-inner {
			    .social {
				right: -18px;
				ul {
				    width: 240px !important;
				    li[class][data-network] {
					width: 48px; height: 48px; line-height: 48px;
				    }
				}
			    }
			}
		    }
		    .slide-playlist-btn {
			width: 44px; height: 44px; margin-left: 5px;
		    }
		    .slide-playlist-btn-list {
			&:after {
			    right: 14px;
			}
			.slide-playlist-btn-list-inner {
			    border-radius: 14px;
			}
			.slide-playlist-btn-list-item {
			    font-size: 14px; line-height: 20px;
			}
		    }
		}
	    }
	}
    }
    .profile-div .profile-playlists .profile-playlist .profile-playlist-items .profile-playlist-item .btn-remove-from-playlist { display: block; }
}
@media (min-width: 768px) and (max-width : 991px){
    .fp-list-items {
	.owl-item {
	    margin-top: 15px;
	    &:nth-child(1),&:nth-child(2),&:nth-child(3) {
		margin-top: 0;
	    }
	    /* every 3+1 items */
	    &:nth-child(4),&:nth-child(7),&:nth-child(10),&:nth-child(13),&:nth-child(16),&:nth-child(19),&:nth-child(22),&:nth-child(25),&:nth-child(28),&:nth-child(31),&:nth-child(34),&:nth-child(37),&:nth-child(40) {
		clear: left;
	    }
	}
    }
}
@media (max-width : 991px){
    .header-main {
	/* moved from max-width 767px to increase space for menu on tablets */
	.toolbox {
	    .btn-account {
		.btn-account-username {
		    display: none;
		}
		.btn-account-username, .btn-account-avatar {
		    /* display: none; */
		}
		.btn-settings-icon {
		    /* display: inline-block; */
		    display: none;
		}
	    }
	}
	.lang-switcher {
	    ul {
		padding-left: 0;
		li {
		    a {
		    }
		}
	    }
	}
    }
    .slider-main, .slider-show {
	.slider-bullets-container {
	    .slider-bullets {
		/* bottom: 20px; */
	    }
	}
	&.paused {
	    .slider-bullets-container {
		.slider-bullets {
		    /* bottom: 32px; */
		}
	    }
	}
	.slide {
	    .slide-text-container {
		.slide-text {
		    .slide-title {
			font-size: 24px; line-height: 24px;
		    }
		    .slide-desc {
			font-size: 14px; line-height: 16px;
		    }
		    .slide-watch-more {
			/* display: none; */
			margin-bottom: 10px;
		    }
		}
	    }
	    .slide-play {
		&, &:hover, &:focus {
		    width: 64px; height: 64px;
		}
		left: calc(50% - 32px); top: calc(50% - 32px);
	    }
	    .slide-buttons-container {
		.slide-buttons {
		    right: 15px; /* bottom: 10px; */
		    .slide-social-btn {
			/* width: 48px; height: 48px; */
			.slide-social-btn-inner {
			    .social {
				right: -18px;
				ul {
				    width: 240px !important;
				    li[class][data-network] {
					width: 48px; height: 48px; line-height: 48px;
				    }
				}
			    }
			}
		    }
		    .slide-playlist-btn {
			/* width: 48px; height: 48px; */
		    }
		    .slide-playlist-btn-list {
			&:after {
			    right: 14px;
			}
			.slide-playlist-btn-list-inner {
			    border-radius: 14px;
			}
			.slide-playlist-btn-list-item {
			    font-size: 14px; line-height: 20px;
			}
		    }
		}
	    }
	}
    }
    .fp-big-items {
	.fp-big-item {
	    height: 250px;
	}
	.owl-nav {
	    .owl-prev, .owl-next {
		width: 15%;
		&:after, &:hover:after {
		    width: 48px; height: 48px; left: calc(50% - 24px);
		    top: calc(50% - 24px);
		}
	    }
	}
    }
    .profile-just-added-items {
	.owl-nav {
	    .owl-prev, .owl-next {
		width: 15%;
		&:after, &:hover:after {
		    width: 48px; height: 48px; left: calc(50% - 24px);
		    top: calc(50% - 24px);
		}
	    }
	}
    }
    .popup-inner, #settings-div .popup-inner, #login-div .popup-inner {
	width: 100%; height: 100%; margin: 0; left: 0; top: 0;
	.popup-content {
	    height: 100%;
	    padding-top: 90px; padding-left: 25px; padding-right: 50px;
	    .login-btn-container {
		/* padding-top: 200px; */
		.btn-login-popup-login {
		    img { }
		}
	    }
	    .settings-name {
		font-size: 30px;
	    }
	}
    }
    .list-page-container {
	.list-page-title {
	}
	.videos-list-items {
	    .videos-list-item {
	    }
	    &.videos-list-big-items {
		padding-bottom: 20px; padding-left: 8px; padding-right: 25px;
		> div {
		}
		.videos-list-item {
		}
	    }
	}
    }
    .post {
	.container {
	    background-color: transparent; width: 100%;
	    margin-left: 0; margin-right: 0; padding-left: 40px; padding-right: 40px;
	}
	.post-image-col {
	    .post-video-container { width: 100%; }
	}
	.post-content {
	    padding-left: 15px; padding-right: 15px; background-color: #ffffff;
	    .post-image-inline {
		width: 100%; height: auto; float: none; width: calc(100% + 30px);
		img { width: 100%; height: auto; }
		video { background-color: black; }
	    }
	    .post-title { padding-top: 15px; margin-bottom: 15px; }
	    .post-text-inner { max-height: none; }
	    .post-meta {
		position: relative; margin-top: 15px; padding-left: 0;
		&:before { left: 0; }
		.post-meta-title { width: 17%; min-width: 105px; }
		.post-meta-content { width: 55%; }
	    }
	}
	&.post-left {
	    .post-image-col {
		.post-image {
		    img { width: 100%; }
		}
	    }
	    .post-content {
		.post-image-inline {
		    margin-left: -15px; margin-right: 0; padding-right: 0;
		}
		.post-text {
		    .post-more-btn { left: 0; }
		}
		.post-meta { left: 0; }
	    }
	}
	&.post-right {
	    .post-content {
		.post-image-inline {
		    margin-left: 0; margin-right: -15px; padding-left: 0;
		}
	    }
	}
    }
    .footer-main {
	.nav-footer {
	    ul {
		li {
		    margin-right: 10px;
		}
	    }
	}
	.footer-social {
	    .footer-facebook { width: 75px; height: 75px; }
	    .footer-twitter { width: 75px; height: 75px; }
	}
    }
    .page-container {
	padding-top: 0;
	> .container { margin: 0; padding: 50px 0 0 0; }
    }
    .faq-container {
	background-color: #e6e6e6; background-image: none; padding: 90px 40px 0 40px;
	> .container { width: 100%; }
	.faq-content {
	    .faq-items {
		.faq-item {
		    .faq-item-question {
			&:after {
			    display: block; top: calc(50% - 7px);
			}
		    }
		}
	    }
	}
    }
    .search-container {
	background-color: #e6e6e6; background-image: none;
	> .container {
	    margin-left: 0; margin-right: 0; padding-left: 40px; padding-right: 40px;
	    width: 100%;
	    > .row { margin: 0; }
	}
    }
    .contact-container {
	background-color: #e6e6e6; background-image: none; padding: 90px 40px 0 40px;
	> .container { width: 100%; padding: 0; }
	.contact-content {
	    padding-top: 50px;
            .contact-form-div {
		.g-recaptcha {
		    transform:scale(1.02); -webkit-transform:scale(1.02);
		}
            }
	}
    }
}
@media (max-width: 768px){
}
@media (max-width : 767px){
    .show-container {
	&.movie-container {
	    /* only main video has this border, not post videos */
	    > .slider-container-show {
		border-bottom: 6px solid $brand-primary;
	    }
	}
    }
    .slider-container-main {
	border-bottom: 6px solid $brand-primary;
    }
    .slider-main, .slider-show {
	/* only on show's inner page */
	&.slider-show {
	    .slide {
		.slide-text-container {
		    .slide-title {
			margin-bottom: 10px;
		    }
		    .slide-desc {
			display: none;
		    }
		}
	    }
	}
	.slider-nav {
	    .slider-bullets-container {
		display: none; /* there's just not enough space for bullets */
		.slider-bullets {
		    right: 6px; bottom: 0;
		    .slider-bullet {
			border-width: 1px; width: 12px; height: 12px;
			border-radius: 12px; margin-left: 6px;
		    }
		}
	    }
	    .slider-arrow-prev, .slider-arrow-next {
		/* display: none; */
		&, &:hover {
		    width: 24px; height: 24px; top: calc(50% - 12px);
		}
	    }
	}
	.slide {
	    .slide-text-container {
		.slide-text {
		    bottom: 5px;
		    .slide-title {
			font-size: 20px; line-height: 22px;
		    }
		    .slide-desc {
			/* display: none; */
		    }
		    .slide-watch-more {
			line-height: 32px; background-position: 134px 1px;
			background-size: 28px 28px;
		    }
		}
	    }
	    .slide-play {
		&, &:hover, &:focus {
	            width: 92px; height: 92px;
		}
		left: calc(50% - 46px); top: calc(50% - 46px);
	    }
	    .slide-video-container {
		.slide-video {
		    video {
			height: 100%;
		    }
		}
	    }
	    .slide-buttons-container {
		.slide-buttons {
		    right: 15px; bottom: 15px;
		    .slide-social-btn {
			width: 34px; height: 34px;
			.slide-social-btn-inner {
			    .social {
				right: -4px; width: 130px; height: 20px;
				ul {
				    width: 130px !important; height: 20px;
				    li[class][data-network] {
					width: 24px; height: 24px; line-height: 24px;
					font-size: 10px;
				    }
				}
			    }
			}
		    }
		    .slide-playlist-btn {
			width: 34px; height: 34px; margin-left: 14px;
		    }
		    .slide-playlist-btn-list {
			bottom: calc(100% + 4px);
			&:after {
			    bottom: -4px; right: 8px; border-width: 4px 4px 0;
			}
			.slide-playlist-btn-list-inner {
			    border-radius: 6px;
			}
			.slide-playlist-btn-list-item {
			    font-size: 14px; line-height: 25px;
			}
		    }
		}
	    }
	}
    }
    .header-main {
	/* background: #fff; */
	&.menu-expanded {
	    position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 111;
	    background-color: #212121;
	    nav.nav-main {
		height: calc(100% - 20px);
		&:after {
		    content: ''; display: block; position: absolute; left: 0; bottom: 0;
		    width: 100%; border-bottom: 10px solid $brand-primary;
		}
		>.container,>.container>div,>.container>div>div { height: 100%; }
		.navbar-toggle {
		    .icon-bar {
			background-color: #666;
		    }
		}
		.navbar-collapse {
		    height: calc(100% - 49px);
		}
		ul.navbar-nav {
		    background-color: #212121;
		    /* moved to .nav-main:after */
		    /* border-bottom: 10px solid $brand-primary; */
		    height: calc(100% - 19px); overflow-y: scroll;
		    li {
			a {
			    color: #81807f; line-height: 58px;
			    border-top: 1px solid #2e2e2e;
			    &:hover,&:focus {
				color: $brand-primary;
			    }
			    &.active {
				color: $brand-primary; border-bottom: 0;
			    }
			}
			/* submenu containers of all levels */
			ul {
			    li {
				a {
				    /* padding-left: 40px; */
				    padding-left: calc(75px + 30px);
				}
			    }
			}
			/* 2nd level submenu container */
			> ul {
			}
		    }
		    /* root level menu items*/
		    > li {
			> a {
			    padding-left: 75px;
			}
		    }
		}
	    }
	}
	.logo {
	    margin-top: 13px; position: relative; left: 60px; top: 0;
	}
	nav.nav-main {
	    background-color: transparent; position: absolute; left: 0; top: 20px;
	    > .container {
		> .row {
		    > div { padding: 0; }
		}
	    }
	    .navbar-collapse {
		overflow: visible;
	    }
	    .navbar-toggle {
		padding-left: 20px;
	    }
	    ul.navbar-nav {
		background-color: rgba(51,51,51,0.9); margin: 19px 0 0 -15px;
		width: calc(100% + 30px);
		li {
		    a {
			margin-right: 0; padding-left: 20px;
		    }
		}
	    }
	}
	.toolbox {
	    .btn-account {
		margin-right: 16px;
	        /* moved to max-width 991px */
		/*.btn-account-username, .btn-account-avatar {
		    display: none;
		}
		.btn-settings-icon { display: inline-block; }*/
	    }
	    .btn-search { display: none; }
	}
    }
    .fp-big-items-container { padding-top: 10px; }
    .big-items {
	padding: 0;
	.owl-nav {
	    .owl-prev, .owl-next {
		width: 25%;
		&:after, &:hover:after {
		    width: 38px; height: 38px; left: calc(50% - 19px);
		    top: calc(50% - 19px);
		}
	    }
	}
	&.fp-big-items {
	    margin-bottom: 0;
	    .fp-big-item {
		height: auto;
		.fp-big-item-title {
		    height: 100px;
		}
	    }
	    .owl-item {
		clear: left; margin-top: 15px;
		&:nth-child(1) {
		    margin-top: 0;
		}
	    }
	}
    }
    .fp-genre-list-container {
	>.row:last-child {
	    padding-bottom: 0;
            .fp-heading-genre {
		margin-top: 35px;
            }
	}
	>.row:first-child {
	    .fp-heading-genre {
		margin-top: 35px;
	    }
	}
    }
    /* we have a similar logic for tablet version, but for three items per line */
    .fp-list-items {
	.owl-item {
	    margin-top: 15px;
	    &:nth-child(1),&:nth-child(2) {
		margin-top: 0;
	    }
	    &:nth-child(odd) {
		clear: left;
	    }
	}
    }
    .fp-last-added-items-carousel-row { }
    .fp-last-added-carousel-items {
	.owl-item {
	    clear: both; margin-top: 0;
	    .two-video-container {
		@include clearfix();
		.videos-list-item {
		    width: 48%; float: left;
		    &:first-child {
			margin-right: 4%;
		    }
		}
	    }
	}
    }
    .show-container {
	.season-items-container {
	    .season-items {
		.season-item { width: 38px; }
	    }
	}
	.episode-items {
	    &.big-items {
		.owl-dots {
		    position: relative; top: -6px; text-align: center;
		    right: 0; white-space: normal; max-width: 100%;
		    .owl-dot {
			vertical-align: top; /* display: block; float: right; */
			display: inline-block; vertical-align: top; height: 40px;
			margin: 0 3px;
			&:nth-child(10) { clear: right; }
			&:last-child { margin-right: 8px; }
			&.active {
			    span {
				/* top: 0; */ top: 5px; width: 15px; height: 15px;
				@media (-webkit-min-device-pixel-ratio: 2) {
				    top: 6px;
				}
			    }
			}
			span { top: 5px; width: 11px; height: 11px; }
		    }
		}
	    }
	}
    }
    .posts-container {
	padding-top: 0;
    }
    .post,.post:not(.expanded){
	margin-bottom: 0;
	.container {
	    padding-left: 15px; padding-right: 15px;
	}
	.post-image-col {
	    padding-left: 0; padding-right: 0;
	    .post-video-container {
		width: 100%;
	    }
	}
	.post-content-col {
	    padding-left: 0; padding-right: 0;
	    .post-content {
		.post-image-inline {
		    .slide {
			.slide-buttons-container {
			    .slide-buttons {
				.slide-playlist-button {
				}
			    }
			}
		    }
		}
		.post-meta {
		    left: 0; width: 100%;
		}
	    }
	}
	.post-content {
	    /* moved image-inline 100% to 991 */
	    .post-title {
		font-size: 28px; word-break: break-word;
	    }
	    .post-text {
		.post-text-inner {
		    max-height: none;
		}
	    }
	}
	&.post-left {
	    .post-image-col {
		.post-image {
		    img { width: 100%; }
		}
	    }
	    .post-content-col {
	    }
	}
    }
    .footer-main {
	.nav-footer {
	    ul {
		li {
		    display: block; width: 100%; margin-bottom: 20px;
		}
	    }
	}
	.footer-social {
	    padding-bottom: 20px; top: 0; padding-right: 15px;
	}
    }
    .profile-div {
	/* background-color: #e6e6e6; */
	.profile-just-added {
	    padding-top: 0; padding-bottom: 0;
	    .profile-just-added-items {
		padding: 0;
		&.videos-list-big-items { padding: 0; }/* reset padding from mixin */
		.profile-just-added-item {
		    .profile-just-added-item-title {
			padding: 25px 20px 0 20px; height: 100px;
		    }
		    &:hover {
			.profile-just-added-item-title {
			    height: 125px;
			}
		    }
		}
		.owl-item { clear: left; margin-top: 15px; }
		.owl-nav {
		    .owl-prev, .owl-next {
			width: 25%;
			&:after, &:hover:after {
			    width: 38px; height: 38px; left: calc(50% - 19px);
			    top: calc(50% - 19px);
			}
		    }
		}
		.owl-dots { display: none; }
	    }
	}
	.profile-playlists {
	    > .container { background-image: none; }
	    .profile-playlist {
		.profile-playlist-items {
		    padding: 0;
		    .profile-just-added-item {
			.profile-just-added-item-title {
			    padding: 25px 20px 0 20px; height: 100px;
			}
			&:hover {
			    .profile-just-added-item-title {
				height: 125px;
			    }
			}
		    }
		    .owl-item { display: block; clear: both; margin-top: 15px; }
		    .owl-nav {
			.owl-prev, .owl-next {
			    width: 25%;
			    &:after, &:hover:after {
				width: 38px; height: 38px; left: calc(50% - 19px);
				top: calc(50% - 19px);
			    }
			}
		    }
		    .owl-dots { display: none; }
		}
	    }
	}
    }
    .page-container {
	padding-top: 25px; background: #fff; border-top: 10px solid #e6e6e6;
	> .container {
	    padding-top: 0;/*override tablet breakpoint css*/
	    > .row { margin: 0; }
	}
	.page-content-container {
	    padding-top: 0; padding-left: 20px; padding-right: 20px;
	}
	.page-title {
	    margin-top: 0;
	}
    }
    .faq-container {
	padding: 0px;
	> .container {
	    > .row { margin: 0 -15px; }
	}
	.faq-heading {
	    padding: 21px 20px;
	    h1 { margin: 0; line-height: 100%; }
	    .subtitle { display: none; }
	}
	.faq-content {
	    padding: 0;
	    > .row {
		margin: 0;
		> div { padding: 0; }
	    }
	    .faq-items {
		.faq-item {
		    .faq-item-question {
			padding-left: 20px; padding-right: 50px;
			&:after { right: 20px; }
		    }
		    .faq-item-answer {
			padding-left: 20px; padding-right: 20px;
		    }
		}
	    }
	}
    }
    .contact-container {
	padding: 0px;
	> .container > .row {
	    margin: 0;
	    > div { padding: 0; }
	}
	.contact-heading {
	    padding-left: 20px; padding-right: 20px;
	    h1 {
		margin-top: 0; margin-bottom: 0; font-size: 32px; line-height: 36px;
	    }
	    .subtitle {
		margin-bottom: 0; font-size: 16px; display: none;
	    }
	}
	.contact-content {
	    padding-top: 25px; padding-left: 0; padding-right: 0; padding-bottom: 0;
	    > .row {
			margin: 0;
			> div:nth-child(2) {
				padding-left: 0; padding-right: 0;
			}
		}
	    .contact-form-div {
		/* padding-left: 25px; padding-right: 25px; */
		padding-left: 5px; padding-right: 5px;
		.g-recaptcha {
		    overflow: hidden;
		    transform: scale(0.925); -ms-transform: scale(0.925);
		    -webkit-transform: scale(0.925);
		    > div > div { width: 100% !important; }
		    iframe { /* width: 100% !important; */ }
		}
	    }
	    .address {
		margin-top: 18px; padding: 45px 25px 15px 25px;
		left: 0; background-color: #f3f3f3;
		border-bottom: 5px solid #939393;
		.address-title {
		    font-size: 28px;
		}
		.address-location {
		    padding-left: 28px; position: relative;
		    &:before {
			content: ''; position: absolute; left: -30px; top: -4px;
			@include icon-button('icons/lokalization-2.svg', 72, 40);
			pointer-events: none;
		    }
		}
	    }
	}
    }
    .search-container {
	padding-top: 0px;
	> .container {
	    padding-left: 0; padding-right: 0;
	    > .row { margin: 0; }
	}
	.search-heading {
	    padding: 21px 20px;
	}
	.search-content {
	    padding-left: 20px; padding-right: 20px;
	    .search-results {
		.search-result {
		    @include clearfix(); padding-right: 16px;
		    img { margin-right: 10px; float: left; }
		    .result-title {
			word-break: break-word; font-size: 14px; line-height: 16px;
			position: relative;
		    }
		}
	    }
	}
    }
    #login-div {
	.popup-content {
	    .login-btn-container {
	    }
	}
    }
    #settings-div {
	.popup-content {
	    .settings-avatar {
			img { width: 175px; }
	    }
	    .settings-name {
		font-size: 22px; line-height: 22px; margin-bottom: 10px;
	    }
	    .settings-subscribe-dropdown {
		height: 40px; line-height: 40px;
		.subscribe-dropdown-title {
		    height: 40px; line-height: 40px;
		}
		.subscribe-items {
		    max-height: 160px;
		    .subscribe-item {
			height: 40px; line-height: 40px;
			.subscribe-checkbox {
			    &, &.selected {
				width: 20px; height: 20px; top: 3px;
			    }
			}
		    }
		}
	    }
	    .popup-toolbox {
		.btn-settings-delete-confirm {
		    .btn-settings-delete-confirm-label {
			line-height: 110%; word-break: break-word; padding-top: 16px;
		    }
		}
	    }
	}
    }
    .list-page-container {
	.list-page-title {
	}
	.videos-list-items {
	    .videos-list-item {
	    }
	    &.videos-list-big-items {
		padding: 0 0 10px 0;
		> div {
		    padding: 0;
		}
		.videos-list-item {
		}
	    }
	}
    }
}
@media (max-width : 320px){/* not 319 because that's the minimal width */
    .slider-main, .slider-show {
	.slide {
	    .slide-text-container {
		.slide-text {
		    .slide-title {
			font-size: 16px; line-height: 19px;
		    }
		}
	    }
	}
    }
}



@media (orientation : portrait){
    /* ofisis androidi */
    @media (min-width : 800px) and (max-width : 800px){
	/* .show-container { .episode-items { &.big-items { .owl-dots { display: none; } } } } */
    }
    @media (min-width : 768px) and (max-width : 768px){
	.header-main {
	    .toolbox { z-index: 95; }
	}
    }
    @media (max-width : 767px){
	#login-div {
	    .popup-content {
		.login-btn-container {
		    width: 100%; margin-top: 135px; margin-left: 0px;
		}
	    }
	}
	#settings-div {
	    .popup-content {
		.popup-toolbox {
		    padding-left: 17px;
		    /* padding-right: 40px; */
		    .btn-settings-delete-confirm {
			.btn-settings-delete-confirm-no {
			    font-size: 15px;
			}
			.btn-settings-delete-confirm-yes {
			    font-size: 15px;
			}
		    }
		}
		.settings-avatar {
		    width: 50%;
		}
		.settings-name {
		    width: 100%; margin-top: 16px; margin-bottom: 47px;
		}
		.settings-subscribe-title {
		    width: 100%;
		}
		.settings-genres {
		    width: 100%; padding-right: 5px;
		}
		.settings-subscribe-dropdown {
		    line-height: 60px; height: 60px;
		    .subscribe-dropdown-title {
			line-height: 60px; height: 60px;
		    }
		    .subscribe-items {
			.subscribe-item {
			    line-height: 60px; height: 60px;
			}
		    }
		}
	    }
	}
	.page-container {
	    .page-title {
		letter-spacing: -2px; font-size: 38px; white-space: nowrap;
		text-indent: -6px;
	    }
	    .slide {
		.slide-video-container {
		    &:before {
			padding-top: 100%;
		    }
		}
	    }
	}
    }
}
@media (orientation : landscape){
    @media (max-width : 767px){
	body { padding-top: 0; }
	.header-main {
	    position: relative !important;
	}
	#login-div {
	    .popup-content {
		.login-btn-container {
		    margin-top: 75px; margin-left: 150px;
		}
	    }
	}
    }
}