@mixin clearfix(){
    &:after {
	content: " "; /* Older browser do not support empty content */
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
    }
}

@mixin opacity-hover(){
    transition: ease-out 0.4s all;
    opacity: 0.7;
    &:hover {
	opacity: 1;
    }
}

@mixin icon-button($icon, $w, $h){
    display: inline-block; width: #{$w}px; height: #{$h}px;
    background: transparent url(../img/#{$icon}) left top no-repeat;
    background-size: 100% 100%;
}

@mixin header-round-button(){
    /* border: 1px solid #4b4b4b; border-radius: 17px; */
    background-color: transparent;
    font-size: 12px; text-align: center; line-height: 32px;
    display: inline-block; width: 34px; height: 34px;
    margin-left: 14px; color: #4b4b4b;
    margin-top: 9px; margin-bottom: 10px;
    &:hover,&:focus,&.active:hover,&.active:focus {
	border-color: $brand-primary; color: $brand-primary;
	text-decoration: none;
    }
    &.active {
	background-color: #4b4b4b; color: white;
    }
}


@mixin videos-list-container(){
    background: transparent url(../img/videos-list-bg.svg) left top no-repeat;
}
@mixin videos-list-heading(){
    margin: 27px 0 27px 0; /* margin-top: 42px; margin-bottom: 12px; */
    line-height: 23px;
    &, a {
	color: $brand-primary; font-size: 23px; line-height: 23px;
    }
    a {
	cursor: pointer; text-decoration: none;
	&:hover {
	    &:after {
		content: ''; @include icon-button("icons/next-big-red.svg", 11, 18);
		margin-left: 6px;
	    }
	}
    }
}
@mixin videos-list-items(){
    .videos-list-item {
	@include videos-list-item();
    }
    &.videos-list-big-items {
	padding-right: 15px;
	> div {
	    padding: 0 0 0 15px;
	}
	.videos-list-item {
	    .videos-list-item-title {
		height: 100px; line-height: 30px; padding: 0 22px 15px 22px; font-size: 18px;
		.videos-list-item-genre {
		    font-size: 15px; color: #999999; font-family: "FiraSans-Bold";
		    line-height: 33px; padding-top: 13px; transition: all 0.1s ease-out;
		}
	    }
	    &:hover {
		.videos-list-item-title {
		    &:after {
			content: ''; display: block; position: absolute; left: 0; bottom: 0;
			width: 100%; border-bottom: 4px solid $brand-primary;
		    }
		}
	    }
	}
    }
}
@mixin videos-list-item(){
    position: relative; display: block; cursor: pointer; margin-bottom: 15px;
    img {
	width: 100%;
    }
    .videos-list-item-title {
	position: absolute; left: 0; bottom: 0; width: 100%;
	padding: 0px 6px 8px 6px; font-size: 15px;
	background-color: rgba(88,88,88,0.75); color: #e5e5e5;
	overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
	height: 40px; line-height: 40px; transition: all 0.1s ease-out;
    }
    &:hover {
	.videos-list-item-title {
	    /* height: 60px; line-height: 60px; */
	    &:after {
		content: ''; display: block; position: absolute; left: 0; bottom: 0;
		width: 100%; border-bottom: 4px solid $brand-primary;
	    }
	}
    }
}

@mixin owl-dots-custom-design(){
    .owl-dots {
	position: absolute; top: calc(100% + 5px);
	right: calc(15px + 8px); /* right: calc(64px + 15px); */
	white-space: nowrap; vertical-align: top;
	.owl-dot {
	    display: inline-block; margin: 0 8px 0 8px;
	    &:last-child { margin-right: 0; }
	    span {
		background-color: #d9d9d9; display: inline-block;
		width: 18px; height: 18px;/*12*/ border-radius: 50%;
		position: relative; top: 2px;
	    }
	    &.active {
		span {
		    background-color: #db2729; width: 30px; height: 30px;/*16*/
		    top: 8px;
		}
	    }
	}
    }
    @media (max-width: 990px){
	.owl-dots {
	    right: calc(15px + 8px); /* right: calc(48px + 15px); */
	}
    }
}

/* e.g. 16:9 proportion for 500px - aspect-ratio(500px, 16, 9)
   or 4:3 for 90% - aspect-ratio(90%, 4, 3) */
/*use the proportional mixin if you need proper width/height; this sets height to 0 */
@mixin aspect-ratio($width, $hor, $ver){
    width: #{$width}; height: 0; padding-bottom: #{$width*$ver/$hor};
}

/* if the content element doesn't have .proportional-content (or the HTML cannot be changed), override with first parameter. */
/* you can also specify the optional width parameter */
@mixin proportional($contentselector: ".proportional-content", $width: -1, $hor: 1, $ver: 1){
    position: relative;
    @if $width != -1 { width: $width; }
    &:before {
	content: ""; display: block;
	padding-top: #{100*$ver/$hor}%; /*#{$width*$ver/$hor};*/
	pointer-events: none;
    }
    #{unquote($contentselector)} {
	position: absolute; top: 0; left: 0; bottom: 0; right: 0;
    }
}
/* to use this class (1:1 aspect ratio), its content element should have class ".proportional-content" */
.proportional {
    @include proportional();
}


@mixin proportional-slider(){
    @include proportional(".slide", 71.11%, 16, 9); /* 64%, 16, 9); */
    /* height: 580px; */
    margin: 0 auto;
}
@mixin proportional-slide-video($flip_on_responsive: true){
    @include proportional(".slide-video", 71.11%, 16, 9); /* 64%, 16, 9); */
    /* height: 580px; */
    /* 89% would be exactly the width of the website, but it's too tall */
    margin: 0 auto;
    @if $flip_on_responsive == true {
	@media (orientation : portrait) and (max-width: 1279px){
	    @include proportional(".slide-video", 64%, 10, 12); /* 64%, 16, 9); */	
	}
	@media (orientation : portrait) and (max-width: 767px){
	    @include proportional(".slide-video", 64%, 10, 14); /* 64%, 16, 9); */	
	}
    }
}


@mixin popup(){
    position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 9999;
    display: none;
    &.modal {
	.popup-shadow { pointer-events: none; }
	.popup-inner { pointer-events: all; }
    }
    .popup-shadow {
	background-color: rgba(88,88,88,0.6); width: 100%; height: 100%;
	overflow: auto; /* prevent margin-collapse */
    }
    .popup-inner {
	width: 45%; margin: -175px 0 0 -22.5%; height: 350px;
	position: absolute; left: 50%; top: 50%;
    }
    .popup-title {
	background-color: #e6e6e6; position: absolute; left: 0; top: 0; z-index: 2;
	width: 100%; height: 70px;
	line-height: 70px; color: #CB2027; font-size: 23px;
	font-family: "FiraSans-Regular"; padding-left: 25px;
	.popup-close {
	    position: absolute; right: 20px; top: 20px; cursor: pointer;
	    @include icon-button('icons/close.svg', 32, 32);
	    &:hover {
		@include icon-button('icons/close-red.svg', 32, 32);
	    }
	}
    }
    .popup-content {
	position: relative; height: 100%;
	background-color: white; padding: 70px 0px 0 0px; box-sizing: border-box;
	.popup-toolbox {
	    position: absolute; left: 0; bottom: 0; width: 100%; height: 60px;
	    background-color: white; padding-left: 30px;
	}
    }
}



@mixin big-slider(){
    background-color: black; position: relative;
    /* @include proportional-slider(); */
    .slider-bullets-container {
	position: relative; pointer-events: none;
	.slider-bullets {
	    position: absolute; right: -15px; bottom: 42px;/*25px*/ pointer-events: all;
	    /* right: 250px; */
	    text-align: right; z-index: 20;
	    .slider-bullet {
		display: inline-block; margin: 0 11px;/*margin-left:12px*/
		cursor: pointer;
		/* border: 3px solid #dadada; */ background-color: #d9d9d9;
		width: 18px; height: 18px; border-radius: 50%;
		&.active {
		    width: 30px; height: 30px; background-color: #db2729;
		    position: relative; left: 0; top: 6px; border-radius: 50%;
		    margin: 0 5px;
		}
	    }
	}
    }
    .slider-nav {
	position: absolute; top: 0%; z-index: 68; pointer-events: none;
	&, .container, .row, .row > div { position: relative; height: 100%; }
	.slider-arrow-prev {
	    cursor: pointer; border-radius: 32px;
	    position: absolute; top: calc(50% - 32px); left: 15px;
	    @include icon-button("icons/next-darkgray.svg", 64, 64);
	    /* background-color: #626262; */ background-color: #999999;
	    pointer-events: all;
            -ms-transform: rotate(180deg); /* IE 9 */
            -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
            transform: rotate(180deg);
	    display: none;
	    &:hover {
		@include icon-button("icons/next-white.svg", 64, 64);
		background-color: $brand-primary;
		-ms-transform: rotate(180deg); /* IE 9 */
		-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
		transform: rotate(180deg);
	    }
	}
	.slider-arrow-next {
	    cursor: pointer; border-radius: 32px;
	    position: absolute; top: calc(50% - 32px);
	    right: 15px;
	    @include icon-button("icons/next-darkgray.svg", 64, 64);
	    /* background-color: #626262; */ background-color: #999999;
	    pointer-events: all;
	    display: none;
	    &:hover {
		@include icon-button("icons/next-white.svg", 64, 64);
		background-color: $brand-primary;
	    }
	}
    }
    .slide {
	position: relative; /* width: 100%; height: 100%; */
	&:before {
	    content: ""; display: block; position: absolute; left: 0; top: 0;
	    width: 20%; height: 100%; z-index: 5;
	    @include gradient-horizontal(rgba(0,0,0,1.0), rgba(0,0,0,0.0), 0%, 100%);
	    pointer-events: none;
	}
	&:after {
	    content: ""; display: block; position: absolute; right: 0; top: 0;
	    width: 20%; height: 100%; z-index: 5;
	    @include gradient-horizontal(rgba(0,0,0,0.0), rgba(0,0,0,1.0), 0%, 100%);
	    pointer-events: none;
	    display: none; /* hide right-side shadow */
	}
	.slide-video-container {
	    display: block; width: 100%; height: 100%;
	    @include proportional-slide-video();
	    .slide-video {
		display: none;
		/* / * display: none; * /opacity: 0; */
		video {
		    width: 100%; height: 100%; background-color: #000000;
		}
	    }
	}
	.slide-play {
	    position: absolute; width: 120px; height: 120px; z-index: 30;
	    left: calc(50% - 60px); top: calc(50% - 60px);
	    @include icon-button('icons/play.svg', 120, 120);
	    cursor: pointer; opacity: 0.8;
	    &:hover,&:focus {
		@include icon-button('icons/play-red.svg', 120, 120);
	    }
	}
	.slide-buffering-icon {
	    position: absolute; width: 120px; height: 120px; z-index: 31;
	    left: calc(50% - 60px); top: calc(50% - 60px); cursor: pointer;
	    @include icon-button('icons/preloader.svg', 120, 120);
	    /* spin is defined in _settings.scss */
	    -webkit-animation:spin 0.5s linear infinite;
	    -moz-animation:spin 0.5s linear infinite;
	    animation:spin 0.5s linear infinite;
	    display: none;
	}
	@media screen\0 {
	    .slide-buffering-icon {
		@include icon-button('icons/preloader.png', 120, 120);
		display: none;
	    }
	}
	@media all and (-ms-high-contrast:none) {
	    .slide-buffering-icon {
		@include icon-button('icons/preloader.png', 120, 120);
		display: none;
	    }
	}
	.slide-toolbox-container {
	    position: absolute; left: 0; top: 0; width: 100%; height: 100%;
	    margin: 0 auto; z-index: 22; overflow: hidden; /* caused mobile hscroll */
	    /* text on top of video but not interfering with controls */
	    /* TODO: disable this; when video starts, description should hide */
	    .container, .row, .row > div { height: 100%; }
            /* override pointer in individual children, otherwise covers video */
	    pointer-events: none;
	}
	.slide-text-container {
	    height: 100%;
	}
	.slide-text {
	    position: absolute; left: 15px; /* width: 40%; */
	    /* bottom: 25px; */ bottom: 35px;
	    .slide-title {
		display: block; pointer-events: all; text-decoration: none;
		font-size: 38px; line-height: 44px; color: #fff;
		font-family: "FiraSans-Bold";
	    }
	    .slide-desc {
		font-size: 18px; line-height: 23px; margin-top: 7px;
		margin-bottom: 0px;
		/* color: #B2B2B2; */ color: #fff;
	    }
	    .slide-watch-more {
		margin-top: 15px; padding: 0 42px 0 17px;
		background: $brand-primary url("../img/icons/watch-movie-arrow.svg") 129px -2px no-repeat; background-size: 38px 44px;
		display: inline-block; /*float: left;*/ /* width: auto didn't work */
		font-size: 17px; line-height: 40px; color: #fff; cursor: pointer;
		font-family: "FiraSans-Bold"; pointer-events: all;
		text-decoration: none;
	    }
	    .slide-viewcount {
		/* padding-left: 8px; */
		font-size: 28px; line-height: 20px;
		/* color: #B2B2B2; */ color: #db2729;
		font-family: "FiraSans-Bold"; margin-top: 12px;
		/* GDSON-490 */ display: none !important;
		img {
		    position: relative; left: 0; top: -1px;
		    width: 42px; height: auto;
		}
	    }
	    /*&:after {
		content: ' '; display: block;
		border-bottom: 3px solid $brand-primary;
		position: absolute; left: 0; bottom: -3px; width: 80px;
	    }*/
	}
	.slide-buttons-container {
	    pointer-events: none;
	    position: relative;
	    .slide-buttons {
		position: absolute; right: 15px; bottom: 25px; z-index: 70;
		pointer-events: all;
		.slide-social-btn {
		    @include icon-button("icons/social.svg", 64, 64); vertical-align: top;
		    background-color: #dadada; border-radius: 32px; cursor: pointer;
		    /* opacity: 0.8; */
		    position: relative; /* overflow: hidden; */
		    &:hover {
			/* opacity: 1; */
			/* moved to _media.scss - body:not(mobile) ... &:hover to avoid sticky hover effect on mobile devices and tablets */
		    }
		    .slide-social-btn-inner {
			position: absolute; left: 0; top: 0;
			width: 100%; height: 100%;
			.entypo-export {
			    position: absolute; left: 0; top: 0;
			    width: 100%; height: 100%; background: none;
			    opacity: 0;
			}
			.social {
			    position: absolute; right: 48px; bottom: 100%;
			    left: auto; top: auto; margin: 0;
			    &:not(.active){ display: none; }
			    ul {
				width: 300px !important; margin: 0;
				li[class][data-network] {
				    background-color: #dadada; border-radius: 64px;
				    height: 64px; padding: 0; line-height: 64px;
				    width: 64px; margin-right: 10px;
				    &:last-child { margin-right: 0; }
				    &:hover {
					background-color: $brand-primary;
				    }
				    &:before { color: #6D6E70; }
				}
			    }
			}
		    }
		}
		.slide-playlist-btn {
		    @include icon-button("icons/add.svg", 64, 64); vertical-align: top;
		    background-color: #dadada; border-radius: 32px; cursor: pointer;
		    margin-left: 14px; /* opacity: 0.8; */
		    position: relative;
		    &:hover {
			/* opacity: 1; */
			/* moved to _media.scss - body:not(mobile) ... &:hover to avoid sticky hover effect on mobile devices and tablets */
		    }
		}
		.slide-playlist-btn-list {
		    position: absolute; right: 0px; bottom: calc(100% + 10px);
		    z-index: 71; display: none; width: 150px;
		    &:after {
			content: ""; position: absolute; bottom: -10px;
			right: 22px; border-width: 10px 10px 0;
			border-style: solid; border-color: #dadada transparent;
			display: block; width: 0;
		    }
		    .slide-playlist-btn-list-inner {
			background-color: #dadada; border-radius: 16px;
			max-height: 300px; overflow: hidden;
		    }
		    .slide-playlist-btn-list-item {
			padding: 0 12px; font-size: 14px; line-height: 24px;
			cursor: pointer;
			&:hover {
			    background-color: #333; color: #fff;
			}
			&.selected {
			    color: #fff; padding-left: 26px;
			    background: #333 url(../img/icons/checkbox-selected.svg) 12px 8px no-repeat;
			    background-size: 8px 8px;
			}
		    }
		}
	    }
	}
    }
    &.loading {
	.slide {
	    background-image: none !important;
	    .slide-play { display: none; }
	    .slide-buffering-icon { display: block; }
	    .slide-video-container {
		.slide-video {
		    display: block;
		    /* / * display: block; * /opacity: 1; */
		}
	    }
	}
    }
    &.buffering {
	.slider-arrow-prev, .slider-arrow-next { display: none; }
	.slider-bullets-container { display: none; }
	.slide {
	    background-image: none !important;
	    .slide-play { display: none; }
	    /* hide it when using flowplayer's [modified] builtin icon (buffering: true in $f config) */
	    .slide-buffering-icon { display: none; /* display: block; */ }
	    .slide-video-container {
		.slide-video {
		    display: block;
		    /* / * display: block; * /opacity: 1; */
		}
	    }
	    .slide-text-container {
		.slide-title { display:none; }
		.slide-desc { display: none; }
		.slide-watch-more { display: none; }
		.slide-viewcount { display: none; }
	    }
	    .slide-buttons-container { display: none; }
	}
    }
    &.playing {
	.slider-arrow-prev, .slider-arrow-next { display: none; }
	.slider-bullets-container { display: none; }
	.slide {
	    background-image: none !important;
	    .slide-play { &,&:hover,&:focus { display: none; } }
	    .slide-video-container {
		.slide-video {
		    display: block;
		    /* / * display: block; * /opacity: 1; */
		}
	    }
	    .slide-text-container {
		display: none;
		/* .slide-title { display:none; } */
		/* .slide-desc { display: none; } */
		/* .slide-watch-more { display: none; } */
	    }
	    .slide-buttons-container { display: none; }
	}
    }
    &.paused {
	.slider-arrow-prev, .slider-arrow-next { /* display: none; */ }
	.slider-bullets-container { display: none; }
	.slide {
	    background-image: none !important;
	    .slide-play { display: none; }
	    .slide-video-container {
		.slide-video {
		    display: block;
		    /* / * display: block; * /opacity: 1; */
		}
	    }
	    .slide-text-container {
		display: none;
		/* .slide-title { display:none; } */
		/* .slide-desc { display: none; } */
		/* .slide-watch-more { display: none; } */
	    }
	    .slide-buttons-container { display: none; }
	}
    }
    &.stopped {
	/* .slider-arrow-prev, .slider-arrow-next { display: none; } */
	/* .slider-bullets-container { display: none; } */
	.slide {
	/*     background-image: none !important; */
	/*     .slide-play { display: none; } */
	/*     .slide-video-container {
	        .slide-video { display: block; / * opacity: 1; and delete display * / }
		} */
	       .slide-text-container {
	/* 	.slide-title { display:none; } */
	/* 	.slide-desc { display: none; } */
	/*      .slide-watch-more { display: none; } */
	       }
	/*     .slide-buttons-container { display: none; } */
	}
    }
    &.switching-quality {
	.slide {
	    background-image: none !important;
	    .slide-play { display: none !important; }
	    .slide-buffering-icon { display: block !important; }
	    .slide-video { opacity: 0 !important; }
	    .slide-text-container {
		display: none !important;
	    }
	    .slide-buttons-container { display: none !important; }
	    .slider-bullets-container { display: none !important; }
	}
    }
}