

.show-container {
    &.movie-container {
	.season-items-container { display: none; }
	.episode-items-container { display: none; }
    }
}


.slider-container-show {
}
.slider.slider-show {
    /* @include big-slider(); */
    .slide {
	.slide-video-container {
	    .slide-video {
	    }
	}
	.slide-play {
	}
	.slide-text-container {
	    .container, .row, .row > div { }
	}
	.slide-text {
	    .slide-title {
	    }
	    .slide-desc {
	    }
	    &:after {
		display: none;
	    }
	}
    }
}
.season-items-container {
    background-color: #131313; font-family: "FiraSans-Light"; font-size: 18px;
    color: #B2B2B2;
    .season-choose {
	line-height: 50px; white-space: nowrap; overflow: visible;
    }
    .season-item {
	font-family: "FiraSans-Bold"; cursor: pointer; display: block; float: left;
	width: 50px; line-height: 50px; text-align: center; color: #B2B2B2;
	position: relative; 
	background-color: #131313; transition: all 0.2s ease-out;
	&:hover,&:focus {
	    background-color: #2f2f2f; color: #cb1e29; text-decoration: none;
	    transition: all 0.2s ease-out;
	}
	&.active {
	    color: $brand-primary;
	    &:after {
		content: ' '; display: block; width: 100%; height: 3px;
		background-color: #cb1e29; position: absolute; left: 0; top: 0;
	    }
	}
	&.disabled {
	    pointer-events: none; color: #414141;
	}
    }
}
.episode-items-container {
    background-color: #212121;
}
.episode-items {
    &.big-items {
	.owl-nav {
	    width: 100%; left: 0;
	}
	.owl-dots {
	    position: relative; top: -18px; text-align: right;
	    right: calc(15px + 8px); /* right: calc(64px + 15px); */
	}
    }
    .episode-item {
	position: relative; display: block; cursor: pointer; margin-bottom: 25px;
	padding-top: 25px;
	&:hover {
	    &:after {
		content: ''; display: block; position: absolute; left: 0; bottom: 0;
		width: 100%; border-bottom: 3px solid $brand-primary; z-index: 2;
	    }
	}
	&.active {
	    &:before {
		content: ''; display: block; position: absolute; left: 0; top: 0;
		width: 100%; border-top: 4px solid $brand-primary;
	    }
	}
	img {
	    width: 100%;
	}
	.episode-item-title {
	    position: absolute; left: 0; bottom: 0; width: 100%;
	    padding: 0px 6px 8px 6px;
	    background-color: rgba(88,88,88,0.75); color: white;
	    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
	    height: 40px; line-height: 40px; transition: all 0.1s ease-out;
	}
	&:hover {
	    .episode-item-title {
		height: 60px; line-height: 60px;
	    }
	}
    }
}
.posts-container {
    padding-top: 40px; background-color: #e6e6e6;
    &:after {
	content: ' '; display: table;
    }
}
.post {
    margin-bottom: 24px; position: relative;
    > .container {
	background-color: #fff;
    }
    .post-content {
	/* background-color: #ffffff; */
	/*clone image inside text, shown after expanding*/
	.post-image-inline {
	    margin-bottom: 15px; width: 58.33333%;
	    height: 520px;
	    /* display: none; */
	    img { width: 100%; height: 520px; }
	    .slider {
		/* &.playing { same as below } */
		&.paused {
		    .slide {
			.slide-buttons-container {
			    display: block;
			    .slide-buttons {
				bottom: 45px;
			    }
			}
		    }
		}
		.slide {
		    position: absolute; left: 0; top: 0; width: 100%; height: 100%;
		    z-index: 1;
		    &:before,&:after { display: none; }
		    .post-image-text-container { height: 100%; }
		    .slide-buttons-container {
			height: 100%;
			.slide-buttons {
			    right: 15px; bottom: 15px;
			}
		    }
		}
	    }
	}
    }
    /* DEPRECATED, NOT IN USE ANYMORE */
    .post-image {/* image inside separate column, shown before expanding */
	img { width: 100%; }
	.post-video-container {
	    width: calc(100% - 16px);
	    .slide {
		position: absolute; left: 0; top: 0; width: 100%; height: 100%;
		z-index: 1;
		&:before, &:after { display: none; }
	    }
	}
    }
    .post-title {
	font-family: "FiraSans-Bold"; font-size: 42px; color: #000;
	margin-top: 0px; padding-top: 32px; margin-bottom: 20px;
    }
    .post-text {
	font-family: "FiraSans-Light"; font-size: 16px; line-height: 21px;
	color: #2C383A; position: relative;
	.post-text-inner {
	    overflow: hidden; margin-bottom: 32px;
	    /* max-height was 190 when .post-text used GDS2015Light, GDS2015Light reuqires 185 */
	    /* max-height: 190px; */ max-height: 185px;
	    p {
		margin-bottom: 0;
	    }
	}
	.post-more-btn {
	    position: absolute; left: 0; top: 100%; color: $brand-primary;
	    cursor: pointer;
	    display: none;
	    .title-collapse { display: none; }
	}
    }
    .post-meta {
	position: absolute; left: calc(58.3333% - 15px); bottom: 0;
	padding: 30px 12px 12px 12px; width: calc(41.6666% + 15px);
	@include clearfix();
	&:before {
	    content: ' '; display: block; position: absolute; left: 12px; top: 0;
	    width: 65px; border-top: 4px solid #CB2027;
	}
	.post-meta-title {
	    font-family: "FiraSans-Bold"; font-size: 12px; color: #CB2027;
	    width: 22%; float: left; max-width: 105px; clear: left;
	}
	.post-meta-content {
	    font-family: "FiraSans-Medium"; font-size: 12px; color: #666666;
	    width: 68%; margin-left: 1%; float: left;
	    a { white-space: nowrap; }
	}
    }
    &.post-left {
	.post-image-col {
	    .post-image {
		background-color: #E6E6E6;
		> img { width: calc(100% - 16px); }
	    }
	}
	.post-content {
	    .post-image-inline {
		float: left; margin-right: 15px; margin-left: -15px;
		background-color: #E6E6E6; padding-right: 15px;
	    }
	    .post-text {
		.post-more-btn {
		    left: calc(58.3333%);
		}
	    }
	}
    }
    &.post-right {
	.post-content {
	    .post-image-inline {
		float: right; margin-left: 15px; margin-right: -15px;
	    }	    
	}
	.post-meta {
	    left: 0;
	}
    }
    &.expanded {
	height: auto; min-height: 520px;
	.post-image-col { display: none; }
	.post-content-col {
	    height: auto; min-height: 520px; width: 100%;
	}
	.post-content {
	    .post-image-inline {/* image near text */
	    /* always visible now */ /* display: inline-block; */
		background-color: transparent;
	    }
	}
	.post-text { @include clearfix(); }
	.post-text-inner {
	    max-height: none; display: inline;
	    /* margin-bottom gives bg to the absolutely-positioned more-btn; moved margin to always */
	    /* margin-bottom: 32px; */
	}
	.post-more-btn {
	    position: relative; margin: 10px 0 20px 0;
	    .title-expand { display: none; }
	    .title-collapse { display: inline; }
	}
	.post-meta {
	    position: relative; left: 0; top: 0; padding-left: 0; width: 100%;
	    &:before { left: 0; }
	}
	&.post-left {
	    .post-image {/* image in separate column */
		background-color: transparent;
		img { width: 100%; }
	    }
	    .post-content {
		.post-text {
		    .post-more-btn {
			left: 0;
		    }
		}
		.post-meta {
		    padding-left: 15px;
		    &:before { left: 15px; }
		}
	    }
	    .post-meta {
		/* right: 100%; left: auto; */
	    }
	}
	&.post-right {
	    .post-content {
	    }
	    .post-meta {
		/* left: 100%; */
	    }
	}
    }
}


@media screen and (min-width : $screen-md) {   
    body.show-page {
	.header-main {
	    .toolbox {
		padding-right: 0;
	    }
	}
	.slider.slider-show:not(.slider-post) {
	    .slide {
		.slide-buttons-container {
		    .slide-buttons { right: 0; }
		}
	    }
	}
    }
    .post {
	height: 433px;
	&.post-right {
	    .post-image-col {
		float: right;
	    }
	}
	.post-image-col {
	    position: relative;
	    .post-image {
		position: absolute; left: 0; top: 0; width: 100%; height: 433px;
		img { width: 100%; height: 433px; }
	    }
	}
	.post-content-col {
	    background-color: #ffffff; height: 433px;
	}
	&.expanded {
	    .post-image-inline {
		width: calc(58.3333% - 9px) !important;
	    }
	    &.post-left {
		.post-content-col {
		    padding-left: 0;
		}
		.post-content {
		    .post-image-inline {
			margin-left: 0;
		    }
		    .post-text {
			padding-left: 15px;
		    }
		}
	    }
	    &.post-right {
		.post-content-col {
		    padding-right: 0;
		}
		.post-content {
		    .post-image-inline {
			margin-right: 0;
		    }
		    .post-text {
			padding-right: 15px;
		    }
		}
	    }
	}
    }
}
@media screen and (min-width : $screen-lg) {
    .post {
	height: 520px;
	&.post-right {
	    .post-image-col {
		float: right;
	    }
	}
	.post-image-col {
	    position: relative;
	    .post-image {
		position: absolute; left: 0; top: 0; width: 100%; height: 520px;
		img { width: 100%; height: 520px; }
	    }
	}
	.post-content-col {
	    background-color: #ffffff; height: 520px;
	}
    }
}