.list-page-container {
    @include videos-list-container();
    background-image: none; background-color: #212121;
    .list-page-title {
	@include videos-list-heading();
	margin-top: 36px;
    }
    .videos-list-items {
        @include clearfix();
	@include videos-list-items(); /* contains item styles too, override below */
	.videos-list-item {
	}
    }
}