@import "../bower/bootstrap-sass/assets/stylesheets/bootstrap";
@import "mixins";
@import "settings";
@import "fonts";
@import "show";
@import "videos_list";


html, body { height: 100%; background-color: #212121; }
body.lang-eng, body.lang-eng * {
    font-family: "FiraSans-Regular";
}
body.lang-geo, body.lang-geo * {
    /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold";
    b, strong { font-family: "GDS2015Bold"; }

    .header-main {
	nav.nav-main {
	    ul.nav {
		li {
		    a {
			font-family: "GDS2015Bold";
		    }
		}
	    }
	}
    }
    .footer-main .nav-footer ul li a { /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold"; }
    .list-page-container {
	.videos-list-items {
	    &.videos-list-big-items {
		.videos-list-item {
		    .videos-list-item-genre { font-family: "GDS2015Bold"; }
		}
	    }
	}
    }
    .fp-big-items .fp-big-item .fp-big-item-title .fp-big-item-genre {
	font-family: "GDS2015Bold";
    }
    .fp-last-added-items-carousel-row {
	.two-video-container {
	    .videos-list-item {
		.videos-list-item-genre { font-family: "GDS2015Bold"; }
	    }
	}
    }
    .fp-last-added-items-carousel-one-row {
	.videos-list-item {
	    .videos-list-item-genre { font-family: "GDS2015Bold"; }
	}
    }
    .slider {
	.slide {
	    .slide-text-container {
		.slide-text {
		    .slide-title {
			font-family: "GDS2015Bold";
		    }
		    .slide-watch-more {
			font-family: "GDS2015Bold";
		    }
		}
	    }
	}
    }
    .show-container {
	.season-items-container {
	    /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold";
	    .season-item {
		font-family: "GDS2015Bold";
	    }
	}
	.post {
	    .post-title {
		font-family: "GDS2015Bold";
	    }
	    .post-text {
		/* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold";
	    }
	    .post-meta {
		.post-meta-title {
		    font-family: "GDS2015Bold";
		}
		.post-meta-content {
		    /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold";
		    a { color: inherit; }
		}
	    }
	}
    }
    .profile-div .profile-just-added .profile-just-added-items.videos-list-big-items .videos-list-item .videos-list-item-title .videos-list-item-genre {
	font-family: "GDS2015Bold";
    }
    .profile-div .profile-playlists .profile-playlist .profile-playlist-items .profile-playlist-item .videos-list-item-title .videos-list-item-genre { font-family: "GDS2015Bold"; }
    #login-div {
	.popup-title {
	    /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold";
	}
	.popup-content {
	    /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold";
	    .login-btn-container {
		/* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold";
	    }
	}
    }
    #settings-div {
	.popup-title {
	    /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold";
	}
	.popup-content {
	    /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold";
	    .settings-name, .settings-subscribe-title, .settings-subscribe-dropdown {
		/* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold";
	    }
	}
	.popup-toolbox {
	    .btn-settings-delete { /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold"; }
	    .btn-subscription-logout { font-family: "GDS2015Bold"; }
	}
    }
    .faq-container {
	.faq-heading {
	    h1, .subtitle { /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold"; }
	}
	.faq-content {
	    .faq-items {
		.faq-item {
		    .faq-item-question {
			font-family: "GDS2015Bold";
			/*&:hover,&:focus,&.visible {
			    font-family: "GDS2015Bold";
			}*/
		    }
		    .faq-item-answer { /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold"; }
		}
	    }
	}
    }
    .page-container {
	.page-title { /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold"; }
	.page-image .page-image-title { /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold"; }
	.page-content { /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold"; }
    }
    .contact-container {
	.contact-heading {
	    h1, .subtitle { /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold"; }
	}
	.contact-content {
	    .contact-form-div {
		input, textarea { /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold"; }
		button { /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold"; }
	    }
	    .address-text { /* font-family: "GDS2015Light"; */ font-family: "GDS2015Bold"; }
	}
    }
}
body.lang-ru, body.lang-ru * {
    font-family: "FiraSans-Regular";
}



body {
    padding-top: 90px; /* GDSON-578 fixed header */
}

.big-items {
    .owl-stage-outer {
	width: 100%;
    }
    @include owl-dots-custom-design();
    .owl-dots {
	top: calc(100% + 16px);
    }
    .owl-nav {
	position: absolute; left: 15px; top: 0;
	width: calc(100% - 30px); height: 100%;
	pointer-events: none;
	.disabled { display: none; }
	.owl-prev, .owl-next {
	    position: absolute; left: 0; top: 0; width: 10%; height: 100%;
	    color: transparent;
	    @include gradient-horizontal(rgba(0,0,0,0.65), rgba(0,0,0,0.3), 0%, 100%);
	    z-index: 200; pointer-events: all;
	    &:after {
		content: ''; display: block;
		position: absolute; left: calc(50% - 32px); top: calc(50% - 32px);
		@include icon-button("icons/next-darkgray.svg", 64, 64);
		background-color: #999999; border-radius: 32px;
	    }
	    &:hover:after {
		@include icon-button("icons/next-white.svg", 64, 64);
		background-color: $brand-primary;
	    }
	}
	.owl-prev {
        -ms-transform: rotate(180deg); /* IE 9 */
        -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
        transform: rotate(180deg);
	}
	.owl-next {
	    left: auto; right: 0;
	    @include gradient-horizontal(rgba(0,0,0,0.3), rgba(0,0,0,0.65), 0%, 100%);
	    &:after {
		@include icon-button("icons/next-darkgray.svg", 64, 64);
		background-color: #999999;
	    }
	    &:hover:after {
		@include icon-button("icons/next-white.svg", 64, 64);
		background-color: $brand-primary;
	    }
	}
    }
}





.header-main {
    min-height: 90px; overflow: visible; position: relative; padding-top: 18px;
    /* background: #dcdcdc url(../img/header-bg.svg) 10% top no-repeat; */
    /* background-size: auto 100%; */ /* 80% auto; */
    background-color: #212121;
    &.fixed-header {
	position: fixed; left: 0; top: 0; width: 100%; z-index: 200;
    }
    .logo {
	margin-top: 18px; z-index: 105;
	img {
	    width: 115px;
	}
    }
    .toolbox {
	text-align: right; z-index: 110;
	pointer-events: none;
	> * { pointer-events: all; }
	.btn-account {
	    display: inline-block;
	    .btn-account-icon {
		@include header-round-button();
		background: transparent url(../img/icons/user-white.svg) center center no-repeat;
		background-size: 100% 100%;
		&:hover,&:focus {
		    background-image: url(../img/icons/user-red.svg);
		}
	    }
	    .btn-settings-icon {
		@include header-round-button();
		background: transparent url(../img/icons/settings-white.svg) center center no-repeat;
		background-size: 100% 100%; margin-left: 17px;
		float: right;
		/* display: none; */
		&:hover,&:focus {
		    background-image: url(../img/icons/settings-red.svg);
		}
	    }
	    .btn-account-username {
		display: inline-block; float: right; line-height: 52px;
		padding-right: 12px; text-decoration: none;
		/* color: #4D4D4D; */ color: #B2B2B2;
		display: none;
	    }
	    .btn-account-avatar {
		width: 52px; height: 52px; display: inline-block; float: right;
		/* border: 2px solid #242526; */ border: 1px solid #B2B2B2;
		border-radius: 26px; overflow: hidden;
		img {
		    width: 100%;
		}
	    }
	}
	.btn-search {
	    @include header-round-button();
	    background: transparent url(../img/icons/search-white.svg) center center no-repeat;
	    background-size: 100% 100%;
	    &:hover,&:focus {
		background-image: url(../img/icons/search-red.svg);
	    }
	}
    }
    .lang-switcher {
	text-align: right; display: none;
	ul {
	    li {
		list-style-type: none; display: inline-block;
		a {
		    @include header-round-button();
		}
	    }
	}
    }
    nav.nav-main {
	position: absolute; left: 0; top: 100%; width: 100%; height: 50px;
	background-color: rgba(51,51,51,0.7); z-index: 95;
	&, > .container, > .container > .row, > .container > .row > div {
	    pointer-events: none;
	    .navbar-header { pointer-events: all; }
	    .navbar-collapse ul.nav { pointer-events: all; }
	}
	.navbar-collapse {
	    box-shadow: none;
	}
	.navbar-toggle {
	    float: left;
		padding: 7px 10px;
	    .icon-bar { background-color: #4b4b4b; height: 3px; }
	}
	ul.nav {
	    > li {
		position: relative;
		/* this style affects all <a> tags on all level (root and sub-) menus */
		a {
		    font-size: 18px; color: #B2B2B2; background-color: transparent;
		    display: inline-block; padding: 15px 0; min-height: 50px;
		    margin-right: 34px; font-family: "FiraSans-Bold"; width: 100%;
		    &:hover,&:focus {
			color: #D9D9D9; background-color: transparent;
		    }
		    &.active {
			/* color: #fff; border-bottom: 6px solid $brand-primary; */
			color: $brand-primary;
			padding-bottom: 5px; margin-bottom: 0;
		    }
		}
		/* submenu containers of all levels */
		ul {
		    padding-left: 0;
		    display: none;
		    > li {
			list-style-type: none;
			a { text-decoration: none; }
		    }
		}
		/* 2nd level submenu container */
		> ul {
		    > li {
			> a {
			    padding-left: 30px;
			}
		    }
		}
	    }
	}
    }
}
.footer-main {
    border-top: 5px solid #cd0a12; background-color: #2f2f2f;
    padding-top: 22px; min-height: 140px;
    .nav-footer {
	margin-top: 12px;
	ul {
	    li {
		list-style-type: none; display: inline-block; margin-right: 30px;
		a {
		    font-size: 20px; color: #767E7F; font-family: "FiraSans-Light";
		    background-color: transparent; padding: 0;
		    &:hover {
			color: #B2B2B2; background-color: transparent;
		    }
		}
	    }
	}
    }
    .footer-social {
	text-align: right;
	.footer-facebook {
	    @include icon-button(icons/facebook\.svg, 65, 65);
	    opacity: 0.5;
	    &:hover,&:focus,&:active {
		opacity: 1;
	    }
	}
	.footer-twitter {
	    @include icon-button(icons/twitter\.svg, 65, 65);
	    margin-left: 10px; opacity: 0.5;
	    display: none;
	    &:hover,&:focus,&:active {
		opacity: 1;
	    }
	}
    }
}


.slider-container {
    background-color: black;
}


.slider-container-show {
}
.slider-container-main {
}
.slider {
    @include big-slider();
}
.slider-main {
    /* @include big-slider(); */
    height: #{1920*0.64*9/16}px;
    @media (max-width : 1919px){ height: #{1680*0.64*9/16}px; }
    @media (max-width : 1679px){ height: #{1440*0.64*9/16}px; }
    @media (max-width : 1439px){ height: #{1366*0.64*9/16}px; }
    @media (max-width : 1365px){ height: #{1280*0.64*9/16}px; }
    @media (max-width : 1279px){ height: #{992p*0.64*9/16}px; }
    @media (max-width : 991px){ height: #{768*0.64*9/16}px; }
    @media (max-width : 767px){ height: #{320*0.64*9/16}px; }
    @media (max-width : 320px){ height: #{320*0.64*9/16}px; }
    .slide {
	position: absolute; left: 0; top: 0; width: 100%; height: auto;
	/* DON'T specify height here; the parent takes .slide's content-generated height via js */
	opacity: 0; z-index: 11;
	&.active {
	    z-index: 33;
	}
	.slide-video-container {
	    .slide-video {
	    }
	}
	.slide-play {
	    /* GDSON-489 */ display: none !important;
	}
	.slide-toolbox-container {
	}
	.slide-text-container {
	}
	.slide-text {
	    .slide-title {
	    }
	    .slide-desc {
	    }
	    &:after {
	    }
            .hidden-watch-more {
		visibility: hidden;
            }
	}
    }
}
.fp-heading-big-items {
    color: $brand-primary; font-size: 23px;
    margin: 23px 0 23px 0; /* margin-top: 34px; margin-bottom: 12px; */
    /*cursor: pointer;
    &:hover {
	&:after {
	    content: ''; @include icon-button("icons/next_big_red.svg", 11, 18);
	    margin-left: 6px;
	}
    }*/
    .toggle-fp-big-items {
	border: 0; background-color: transparent; outline: none; padding: 0;
	&.open {
	    img {
		top: 0px;
		transform: rotate(90deg); -webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
	    }
	}
	img {
	    display: inline-block; width: 25px; vertical-align: top;
	    position: relative; top: 0px;
	}
    }
}
.fp-big-items-container {
    background-color: #212121;
}
.fp-big-items {
    /* margin-bottom: 70px; */
    .fp-big-item {
	position: relative; display: block; cursor: pointer; margin-bottom: 0px;
	height: 272px;
	img {
	    width: 100%;
	}
	.fp-big-item-title {
	    position: absolute; left: 0; bottom: 0; width: 100%;
	    padding: 0px 22px 15px 22px; font-size: 18px;
	    background-color: rgba(88,88,88,0.75); color: white;
	    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
	    height: 92px; line-height: 30px; transition: all 0.1s ease-out;
	    /* GDSON-492 */ display: none !important;
	    .fp-big-item-genre {
		font-size: 15px; color: #999999; font-family: "FiraSans-Bold";
		line-height: 33px; padding-top: 13px; transition: all 0.1s ease-out;
	    }
	}
	&:hover {
	    &:after {
		content: ''; display: block; position: absolute; left: 0; bottom: 0;
		width: 100%; border-bottom: 4px solid $brand-primary;
	    }
	    .fp-big-item-title {
		.fp-big-item-genre {
		    /* line-height: 60px; */
		}
		/* height: 140px; line-height: 40px; */
	    }
	}
	&:hover {
	    .fp-big-item-title {
	    }
	}
    }
}

.fp-genre-list-container  {
    /* commented is the last-child's background color, in case it's needed */
    background-color: #212121; /* background-color: #e5e5e5; */
    > .container {
	@include videos-list-container();
	background-color: transparent; background-image: none;
	> .row:first-child {
	    background-color: rgba(255, 255, 255, 0.8);
	}
	> .row:last-child {
	    background-color: #e5e5e5; padding-bottom: 42px;
	}
	> .row.fp-expanding-last-added-items-row {
	    background-color: transparent;
	}
	> .row.fp-last-added-items-carousel-row {
	    background-color: transparent;
	}
	> .row.fp-last-added-items-carousel-one-row {
	    background-color: transparent;
	}
    }
}
.fp-heading-genre {
    @include videos-list-heading();
}
.fp-list-items {
    @include videos-list-items(); /* contains item styles too, override below */
    margin-bottom: 25px;
    .videos-list-item {
	outline: none; margin-bottom: 0;
	img { }
	.videos-list-item-title { }
    }
    @include owl-dots-custom-design();
}
.fp-heading-expanding-last-added {
    @include videos-list-heading();
    margin-top: 0;
}
.fp-expanding-last-added-items {
    @include videos-list-items(); /* contains item styles too, override below */
    margin-bottom: 25px; /* padding-left: 0; padding-right: 0; */
    > div[class^='col'] {
	padding-left: 0; padding-right: 15px;
    }
    .videos-list-item-container { display: none; }
    .videos-list-item {
	outline: none; margin-bottom: 15px;
	img { }
	.videos-list-item-title { }
    }
    #fp-expand-last-added-btn {
	background: transparent; outline: none; border-radius: 0; color: $brand-primary;
	font-size: 16px; border: 0; padding: 0; display: block; clear: both;
	width: 100%; text-align: center;
    }
}
.fp-last-added-items-carousel-row {
    .two-video-container {
	.videos-list-item {
	    &:first-child { margin-bottom: 15px; }
	    .videos-list-item-title {
		height: 100px; line-height: 30px; padding: 0 22px 15px 22px; font-size: 18px;
		.videos-list-item-genre {
		    font-size: 15px; color: #999999; font-family: "FiraSans-Bold";
		    line-height: 33px; padding-top: 13px; transition: all 0.1s ease-out;
		}
	    }
	}
    }
}
.fp-last-added-items-carousel-one-row {
    .videos-list-item {
	&:first-child { margin-bottom: 15px; }
	.videos-list-item-title {
	    height: 100px; line-height: 30px; padding: 0 22px 15px 22px; font-size: 18px;
	    .videos-list-item-genre {
		font-size: 15px; color: #999999; font-family: "FiraSans-Bold";
		line-height: 33px; padding-top: 13px; transition: all 0.1s ease-out;
	    }
	}
    }
}
.fp-genre-list-container {
  >.row:last-child {
    .fp-list-items {
      margin-bottom: 15px;
    }
  }
}




#login-div {
    @include popup();
    .popup-inner {
	width: 682px; margin-left: -341px; height: 411px; margin-top: -205px;
    }
    .popup-content {
	background: white url(../img/cropped-bg.svg) left top no-repeat;
	background-size: auto 100%;
	.login-btn-container {
	    width: 70%; margin: 115px 0px 0px 250px; padding: 0; max-width: 300px;
	    font-size: 19px; color: #666; font-family: "FiraSans-Medium";
	    .btn-login-popup-login {
		/* @include icon-button('icons/btn-fb-login.png', 300, 60); */
		width: 100%; display: inline-block; margin-top: 4px;
		img { width: 100%; }
	    }
	}
    }
}


#settings-div {
    @include popup();
    .popup-inner {
	width: 680px; margin-left: -340px; height: 410px; margin-top: -205px;
    }
    .popup-content {
	background: white url(../img/cropped-bg.svg) left top no-repeat;
	background-size: auto 100%;
	padding-top: 100px; padding-left: 50px; padding-right: 50px;
	.settings-avatar {
	    img { width: 100%; }
	}
	.settings-name {
	    font-family: "FiraSans-Medium"; font-size: 40px; color: #666;
	    margin-bottom: 16px;
	}
	.settings-subscribe-title {
	    font-family: "FiraSans-Medium"; font-size: 12px; color: #808080;
	}
	.settings-subscribe-dropdown {
	    font-family: "FiraSans-Medium"; font-size: 19px; color: #808080;
	    background-color: #fff; border: 1px solid #cecece;
	    height: 50px; line-height: 50px; margin-top: 5px;
	    position: relative;
	    &:after {
		content: ''; display: block; position: absolute; pointer-events: none;
		right: 16px; top: calc(50% - 4px);
		@include icon-button("icons/down.svg", 16, 8);
	    }
	    .subscribe-dropdown-title {
		width: 100%; height: 50px; padding: 0 16px; cursor: pointer;
		height: 50px; line-height: 50px;
	    }
	    .subscribe-items {
		position: absolute; left: -1px; top: calc(100% + 1px);
		width: calc(100% + 2px); background-color: #fff; cursor: pointer;
		border-left: 1px solid #cecece; border-right: 1px solid #cecece;
		max-height: 250px; overflow-x: hidden; overflow-y: scroll; z-index: 2;
		display: none;
		.subscribe-item {
		    width: calc(100% + 1px); height: 50px; line-height: 50px;
		    padding: 0 16px; white-space: nowrap; overflow: hidden;
		    text-overflow: ellipsis;
		    border-bottom: 1px solid #cecece; border-top: 0;
		    .subscribe-checkbox {
			width: 28px; height: 28px; margin-right: 12px;
			position: relative; left: 0; top: 8px;
			cursor: pointer; position: relative;
			@include icon-button("icons/checkbox-empty.svg", 28, 28);
			&.selected {
			  @include icon-button("icons/checkbox-selected.svg", 28, 28);
			}
		    }
		}
	    }
	}
    }
    .popup-toolbox {
	position: relative;
	.btn-settings-delete {
	    float: left; line-height: 60px; text-decoration: underline;
	    color: #808080; font-size: 14px; font-family: "FiraSans-Medium";
	    cursor: pointer;
	    &:hover {
		color: #CB2027;
	    }
	}
	.btn-settings-delete-confirm {
	    position: absolute; left: 0; top: 0; width: 100%; height: 100%;
	    background-color: #e6e6e6; display: none;
	    .btn-settings-delete-confirm-label {
		font-size: 15px; color: #CB2027; width: 60%; float: left;
		line-height: 60px; text-align: center;
	    }
	    .btn-settings-delete-confirm-no {
		background-color: #818181; font-size: 17px; color: #E5E5E5;
		width: 15%; float: left; line-height: 60px; text-align: center;
		cursor: pointer;
	    }
	    .btn-settings-delete-confirm-yes {
		background-color: #cd1a22; font-size: 17px; color: #fff;
		width: 25%; float: left; line-height: 60px; text-align: center;
		cursor: pointer;
	    }
	}
	.btn-subscription-logout {
	    line-height: 60px; background-color: #cd1a22; color: #fff;
	    font-size: 17px; font-family: "FiraSans-Bold"; text-align: center;
	    float: right; padding: 0 50px; text-decoration: none;
	}
    }
}

#notification-more-div {
    @include popup();
    background: #414141 url(../img/screenshot.jpg) left top no-repeat;
    background-size: 100%;
    .popup-inner {
	width: 682px; margin-left: -341px; height: 411px; margin-top: -205px;
    }
    .popup-title {
	a.notification-link {
	    display: block; text-align: center; color: $brand-primary;
	}
	.popup-close {
	    display: none;
	}
    }
    .popup-content {
	background: white url(../img/cropped-bg.svg) left top no-repeat;
	background-size: auto 100%;
	a.notification-link {
	    display: block; margin: 115px 0px 0px 250px; font-size: 36px;
	}
    }
}



.search-container {
    background: #f6f6f6 url(../img/page-bg.svg) left top no-repeat;
    background-size: 100% auto;
    padding-top: 40px; /* padding-top: 130px; */  /* GDSON-578 fixed header */
    > .container > .row {
	margin: 0;
	> div { padding: 0; }
    }
    .search-heading {
	background-color: #cd1a22; padding: 48px 54px 47px 54px;
	.search-input-div {
	    position: relative;
	    input.search-input {
		width: 100%; height: 50px; line-height: 50px; padding-left: 10px;
		font-size: 16px; line-height: 22px; color: #4D4D4D;
	    }
	    .btn-show-search-results {
		@include icon-button('icons/search-inline.svg', 25, 25);
		position: absolute; right: 13px; top: 13px; cursor: pointer;
		&:hover {
		    @include icon-button('icons/search-inline-red.svg', 25, 25);
		}
	    }
	}
    }
    .search-content {
	background-color: #fff; padding: 30px 50px 0 50px;
	.search-results {
	    .search-result {
		position: relative;  font-size: 20px; /* line-height: 22px; */
		color: #4D4D4D; border-bottom: 1px solid #ddd; padding: 18px 0 18px 0;
		box-sizing: content-box; height: 94px; line-height: 94px;
		&:last-child { border-bottom: 0; margin-bottom: 20px; }
		img {
		    width: 93px; height: 93px; margin-right: 30px;
		    vertical-align: top;
		}
		.btn-search-result-more {
		    @include icon-button('icons/next-lightgray.svg', 45, 72);
		    position: absolute; right: -9px; top: 28px; cursor: pointer;
		}
		.result-title {
		    max-width: calc(100% - 150px);/* position: absolute; */
		    display: inline-block; line-height: 100%; vertical-align: middle;
		}
	    }
	}
    }
}


.faq-container {
    background: #f6f6f6 url(../img/page-bg.svg) left top no-repeat;
    background-size: 100% auto;
    padding-top: 40px; /* padding-top: 130px; */  /* GDSON-578 fixed header */
    > .container > .row {
	margin: 0;
	> div { padding: 0; }
    }
    .faq-heading {
	background-color: #cd1a22; padding: 22px 40px;
	h1 {
	    color: #fff; font-size: 42px; line-height: 51px;
	    font-family: "FiraSans-Light"; margin-top: 5px;
	}
	.subtitle {
	    color: #fff; font-size: 18px; font-family: "FiraSans-Light";
	}
    }
    .faq-content {
	padding: 0px 25px 0 25px; background-color: #fff;
	.faq-items {
	    .faq-item {
		&:last-child {
		    .faq-item-answer {
			border-bottom: 0;
		    }
		}
		.faq-item-question {
		    position: relative; cursor: pointer;
		    /* border-bottom: 1px solid #ddd;  */
		    padding: 40px 45px 40px 10px;
		    font-family: "FiraSans-Medium"; color: #4D4D4D;
		    font-size: 18px; line-height: 22px;
		    &:last-child {
			border-bottom: 0; margin-bottom: 20px;
		    }
		    &:after {
			content: ''; @include icon-button('icons/expand.svg', 24, 14);
			position: absolute; right: 10px; top: calc(50%-7);
			cursor: pointer; display: none;
		    }
		    &.visible {
			color: $brand-primary;
			&:after {
			    @include icon-button('icons/collapse.svg', 24, 14);
			    transform: rotate(180deg); display: inline-block;
			}
		    }
		    &:hover {
			background-color: #f8f8f8;
			&:after {
			     display: inline-block;
			}
		    }
		    &:hover,&:focus,&.visible {
			font-weight: 699;
		    }
		}
		.faq-item-answer {
		    padding-left: 10px; padding-right: 10px;
		    /*border-left: 1px solid #ddd; border-right: 1px solid #ddd;*/
		    border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;
		    height: 0px; overflow: hidden;
		    transition: all 0.3s ease-in;
		    font-size: 15px; line-height: 24px;
		    font-family: "FiraSans-Light"; color: #4D4D4D;
		    &.visible {
			height: auto; padding-top: 40px; padding-bottom: 40px;
			transition: all 0.3s ease-in;
		    }
		}
	    }
	}
    }
}


.page-container {
    background: #f6f6f6 url(../img/page-bg.svg) left top no-repeat;
    background-size: 100% auto; 
    padding-bottom: 60px;
    padding-top: 40px; /* padding-top: 130px; */  /* GDSON-578 fixed header */
    > .container > .row {
	margin: 0;
	> div { padding: 0; }
    }
    .page-content-container {
	background-color: white; padding: 40px 40px;
    }
    .page-title {
	font-family: "FiraSans-Light"; font-size: 42px; line-height: 51px;
	color: $brand-primary; margin-top: 10px;
	padding-bottom: 25px; margin-bottom: 20px; position: relative;
	&:after {
	    content: ''; display: block; width: 40px;
	    position: absolute; left: 0; bottom: 0;
	    border-top: 6px solid $brand-primary;
	}
    }
    .slider-container {
	margin-bottom: 16px;
	.slide {
	    /* height: 380px; */
	    &:before, &:after { display: none; }
	    .slide-video-container {
		/* false means not flipping aspect ratio on responsive */
		@include proportional-slide-video(false);
		margin-left: 0; margin-right: 0; width: 100%;
	    }
	}
    }
    .page-image {
	position: relative; margin-top: 20px; margin-bottom: 50px;
	img {
	    width: 100%;
	}
	.page-image-title {
	    position: absolute; left: 0; bottom: 0; width: 100%; line-height: 60px;
	    color: #fff; font-size: 18px; line-height: 25px;
	    font-family: "FiraSans-Light";
	    background-color: rgba(88,88,88,0.75); padding: 20px 20px;
	    overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
	}
    }
    .page-content {
	font-size: 16px; line-height: 21px; color: #4D4D4D;
	font-family: "FiraSans-Light";
    }
}





.contact-container {
    background: #f6f6f6 url(../img/page-bg.svg) left 150px no-repeat;
    background-size: 100% auto;
    padding-top: 40px; /* padding-top: 130px; */  /* GDSON-578 fixed header */
    .contact-heading {
	background-color: #cd1a22; padding: 22px 40px;
	h1 {
	    color: #fff; font-size: 42px; line-height: 51px;
	    font-family: "FiraSans-Light"; margin-top: 5px;
	}
	.subtitle {
	    color: #fff; font-size: 18px; font-family: "FiraSans-Light";
	}
    }
    .contact-content {
	padding: 25px 25px 50px 100px; background-color: #fff;
	.contact-form-div {
	    input,textarea {
		border: 1px solid #eaeaea; font-family: "FiraSans-Regular";
		font-size: 15px; color: #666; width: 100%; margin-bottom: 25px;
		padding: 0 10px;
	    }
	    input {
		line-height: 37px; height: 37px; outline: none;
		&:hover, &:active { border: 1px solid #b4b4b4; }
		&#input-name { margin-bottom: 20px; }
	    }
	    textarea {
		height: 140px; resize: none; outline: none;
		&:hover, &:active { border: 1px solid #b4b4b4; }
	    }
	    button {
		font-size: 16px; font-family: "FiraSans-Medium"; color: #fff;
		background-color: #b4b4b4; text-align: center; line-height: 55px;
		width: 100%; border: 0;
		&:hover { background-color: $brand-primary; }
	    }
        .g-recaptcha {
        margin-bottom: 18px;
        transform:scale(0.88); -webkit-transform:scale(0.88); transform-origin:0 0; -webkit-transform-origin:0 0;
        }
	}
	.address {
	    position: relative; left: -7px; top: 0;
	    .address-title {
		margin-top: 0;
	    }
	    .address-text {
		font-family: "FiraSans-Light"; font-size: 16px; color: #4D4D4D;
		.address-phone-text {
		    .address-phone-icon {
			@include icon-button('icons/phone.svg', 15, 18);
			margin-right: 10px;
		    }
		    a { color: $brand-primary; font-family: "FiraSans-Regular"; }
		}
		.address-email-text {
		    .address-email-icon {
			@include icon-button('icons/mail.svg', 17, 13);
			margin-right: 8px;
		    }
		    a { color: $brand-primary; font-family: "FiraSans-Regular"; }
		}
		.address-website {
		    a {
			font-family: "FiraSans-Medium"; text-decoration: none;
			color: #4D4D4D; margin-left: 30px;
			&:hover { color: $brand-primary; }
		    }
		}
	    }
	}
    }
    .contact-map-div {
	min-height: 395px; background-color: white; margin-bottom: 1px;
	#contact-map {
	    min-height: 425px;
	}
    }
}


.profile-div {
    padding-bottom: 160px;
    .profile-just-added {
	background-color: #212121; padding-top: 60px; padding-bottom: 55px;
	.profile-just-added-heading {
	    @include videos-list-heading();
	    margin-top: 27px; color: $brand-primary;
	}
	.profile-just-added-items {
	    @include owl-dots-custom-design();
	    .owl-stage-outer { width: 100%; overflow: hidden; }
	    .owl-item { float: left; }
	    @include videos-list-items();/*contains item styles too,override below*/
	    &.videos-list-big-items > div { padding: 0; }/* reset padding from mixin */
	    .profile-just-added-item {
		position: relative; display: block; cursor: pointer;
		img {
		    width: 100%;
		}
		.profile-just-added-item-title {
			position: absolute; left: 0; bottom: 0; width: 100%;
			padding: 0px 6px 8px 6px; transition: all 0.1s ease-out;
			background-color: rgba(88,88,88,0.75); color: white;
			overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
			height: 100px; line-height: 30px; padding: 0 22px 15px 22px;
			font-size: 18px;
			.videos-list-item-genre {
			    font-size: 15px; color: #999999;
			    font-family: "FiraSans-Bold"; transition: all 0.1s ease-out;
			    line-height: 33px; padding-top: 13px;
			}
		    }
	    }
	    /* begin owl nav */
	    .owl-nav {
		&.disabled { display: none; }
	    }
	    .owl-prev, .owl-next {
		position: absolute; left: 0; top: 0; width: 10%; height: 100%;
		color: transparent;
		@include gradient-horizontal(rgba(0,0,0,0.65), rgba(0,0,0,0.3), 0%, 100%);
		z-index: 200; pointer-events: all;
		&:after {
		    content: ''; display: block;
		    position: absolute; left: calc(50% - 32px); top: calc(50% - 32px);
		    @include icon-button("icons/next-darkgray.svg", 64, 64);
		    background-color: #999999; border-radius: 32px;
		}
		&:hover:after {
		    @include icon-button("icons/next-white.svg", 64, 64);
		    background-color: $brand-primary;
		}
		&.disabled { display: none; }
	    }
	    .owl-prev {
		left: 15px;
		-ms-transform: rotate(180deg); /* IE 9 */
		-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
		transform: rotate(180deg);
	    }
	    .owl-next {
		left: auto; right: 15px;
		@include gradient-horizontal(rgba(0,0,0,0.3), rgba(0,0,0,0.65), 0%, 100%);
		&:after {
		    @include icon-button("icons/next-darkgray.svg", 64, 64);
		    background-color: #999999;
		}
		&:hover:after {
		    @include icon-button("icons/next-white.svg", 64, 64);
		    background-color: $brand-primary;
		}
	    }
	    .owl-dots {
		.owl-dot { cursor: pointer; }
	    }
	/* end owl nav */
	}
    }
    .profile-playlists {
	.container {
	    /* background: transparent url(../img/videos-list-bg.svg) left top no-repeat; */
	}
	.profile-playlist {
	    > div {
	    }
	    .profile-playlist-title {
		color: $brand-primary; margin-top: 35px; font-size: 23px; line-height: 23px;
	    }
	    .profile-playlist-items {
		@include owl-dots-custom-design();
		.owl-dots {
		    position: relative; left: 0; top: 0; right: 0; bottom: 0;
		    text-align: right;
		}
		.owl-stage-outer { overflow: hidden; }
		.owl-item {
		    display: inline-block; vertical-align: top;
		}
		.owl-dots.disabled,.owl-nav.disabled { display: none; }
		.owl-dots {
		    .owl-dot { cursor: pointer; }
		}
		@include videos-list-items();/*contains item styles too,override below*/
		.profile-playlist-item {
		    @include proportional("a", 100%, 390, 275);
		    &:hover {
			.btn-remove-from-playlist { display: block; }
		    }
		    .btn-remove-from-playlist {
			@include icon-button("icons/close-red-shadowed.png", 32, 32);
			position: absolute; right: 10px; top: 15px; z-index: 1;
			/* background-color: rgba(33,33,33,1);*/ /*31,31,31=#212121*/
			/* border-radius: 50%; */ /*padding: 16px;*/
			cursor: pointer; /* background-size: 36px 36px; */
			/* background-position: 8px 8px; */
			display: none;
		    }
		    a {
			width: 100%; height: 100%; overflow: hidden;
			img {
			    width: 100%; /* height: 100%; */
			}
		    }
		    .videos-list-item-title {
			position: absolute; left: 0; bottom: 0; width: 100%;
			padding: 0px 6px 8px 6px; transition: all 0.1s ease-out;
			background-color: rgba(88,88,88,0.75); color: white;
			overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
			height: 100px; line-height: 30px; padding: 0 22px 15px 22px;
			font-size: 18px;
			/* .videos-list-item-genre */
			.videos-list-item-genre {
			    font-size: 15px; color: #999999;
			    font-family: "FiraSans-Bold"; transition: all 0.1s ease-out;
			    line-height: 33px; padding-top: 13px;
			}
		    }
		}
	    }
	}
    }
    .profile-add-playlist-div {
	text-align: right; position: relative;
	display: none;
	.profile-add-playlist-btn {
	    border: 0; outline: 0; color: #4D4D4D; font-size: 24px;
	    display: inline-block; margin: 12px 0 0 0; padding: 0 40px 0 0;
	    background: transparent url(../img/icons/add-3.svg) right center no-repeat;
	    background-size: 32px auto;
	}
	.profile-add-playlist-form {
	    display: none;
	    .profile-add-playlist-input {
		border: 1px solid #D9D9D9;
	    }
	    .profile-add-playlist-submit {
	    }
	}
    }
}

#images-cache {
    display: none;
}




/* IE 8,9,19 fix */
@media screen\0 {
    .faq-container {
	background-size: 100% 500px;
    }
}



@import "media";
