backup of https://jsfiddle.net/lukaramishvili/kq3zymjk/1/

<div class="viewport-cont">
  <div class="viewport">
  
  </div>
  <div class="time">
  0 - 00:00
  </div>
</div>

<style type="text/css">
/* actually it's sass */
.viewport-cont {
  width: 100%; height: 100%; position: fixed;
  background: red url(http://vcdn1.gdson.net/videos/433/contactsheet.jpg) left top no-repeat;
  .viewport {
    width: 115px; height: 65px; position: absolute; left: calc(115px * 2); top: calc(65px * 2); border: 1px solid green;
    background-color: rgba(255,255,255,0.1);
    }
    .time {
      color: #fff; font-size: 12px; position: absolute; left: 50%; bottom: 15px;
    }
}
</style>

<script>
var wThumb = 115;
var hThumb = 65;
function thumb(seconds){
			//there's a thumb every 10 seconds
			var imageNum = Math.round(seconds / 10);
			//each contactsheet contains 64 115x65 thumbs per line
			var xOffset = (-wThumb*2) + imageNum%64 * wThumb;
			var yOffset = (-hThumb*2) + hThumb * Math.floor(imageNum / 64);
      $(".viewport-cont").css("background-position", (-1*xOffset) + "px " + (-1*yOffset) + "px");    
		}
    
    var curSec = 0;
    var dirs = {
    37: -1, 38: 10, 39: 1, 40: -10
    };
    $("body").keyup(function(e){
      if(dirs.hasOwnProperty(e.keyCode)){
      		curSec += dirs[e.keyCode] * (e.shiftKey ? 10 : 1);
          curSec = Math.max(curSec, 0);
          thumb(curSec);
          $(".time").text(curSec + " - "+((curSec-(curSec%60))/60)+":"+(curSec%60));
      }
    });
</script>